= form_for @tienda do |f|
  %p
    = f.label :nombre
    %br
    = f.text_field :nombre
  %p
    = f.label :horario
    %br
    = f.text_area :horario
  %p
    = f.label :contacto
    %br
    = f.text_area :contacto
  %p
    = f.label :foto
    %br
    = f.file_field :foto
  %p
    = f.label :direccion
    %br
    = f.text_area :direccion
  %p
    = f.label :mapa, :for => 'address'
  %p
    = f.text_field :mapa, :id => 'address', :placeholder => 'Escribe la dirección, elige una sugerencia y ajusta en el mapa'
    #map_canvas{:style => "width:100%;height:380px;"}
    = f.text_field :latitud, :id => 'latitude', :type => 'hidden'
    = f.text_field :longitud, :id => 'longitude', :type => 'hidden'
  %p
    = f.submit "Enviar"

:plain
  <style>
    input, textarea { width: 100%; } textarea { resize: both; }
  </style>
