%section#tiendas.show
  %h2
    Nuestras tiendas
  .table.full
    .contizq.tcell.t25
      
    .contder.tcell.t75
      %h1
        = @tienda.nombre
      %p.barra
      .table.full.informacion
        .tcell.t40
          :plain
            <iframe width="300" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=loc:#{@tienda.latitud},#{@tienda.longitud}&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=#{@tienda.latitud},#{@tienda.longitud}&amp;output=embed&amp;iwloc=0"></iframe>
        .tcell.t60.info
          %p
            = @tienda.direccion.gsub(/\n/, '<br/>').html_safe
          %h2 Horario
          %p
            = @tienda.horario.gsub(/\n/, '<br/>').html_safe
          %h2 Contacto
          %p
            = @tienda.contacto.gsub(/\n/, '<br/>').html_safe
          - if can? :edit, @tienda
            %br
            %p
              = link_to "Editar", edit_tienda_path(@tienda)
            %p
              = link_to "Agregar evento", new_eventotienda_path
      - if @tienda.eventotiendas.count > 0
        #eventos
          %h2 Eventos
          %table
            %tr
              %th Evento
              %th Fecha y horario
              %th Descripcion
              %th Reserva tu lugar
            - for eventotienda in @tienda.eventotiendas
              %tr
                %td{:width=>"20%"}= eventotienda.nombre
                %td{:width=>"15%"}= eventotienda.horario.gsub(/\n/, '<br/>').html_safe
                %td{:width=>"35%"}= eventotienda.descripcion.gsub(/\n/, '<br/>').html_safe
                %td{:width=>"30%"}= eventotienda.informacion.gsub(/\n/, '<br/>').html_safe
