.row
  .page-header
  .col-lg-6.col-sm-12
    .panel.panel-default
      .panel-heading 
        Reenviar instrucciones de confirmación
      .panel-body
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            = f.email_field :email, {:class=>"form-control"}
          .form-group
            = f.submit "Reenviar instrucciones de confirmación"
  .col-lg-6.col-sm-12
    = render :partial => "devise/shared/links"
