#lonuevo
  /=image_tag "mobile/titulos/bestsellers.png", {:id => "titulos", :class => "hotnow"}
  %h1.text-center [Sephora Picks]
  .swiper-container
    .swiper-wrapper
      - seccion_productos = @contenido.producto_seccion.limit(6)
      - seccion_productos.each do |seccion_producto|
        - producto = seccion_producto.producto
        .swiper-slide
          .contengo-producto
            .imagen
              =link_to image_tag(producto.foto.url(:mediano)), m_producto_path(producto.slug)
            .marca
              = producto.marca.marca.upcase
            .link
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), m_producto_path(producto.slug)
            %p.price
              Best Seller
              %br
              Edicion Limitada: 
              -if producto.tiene_descuento
                %span.precio_original
                  #{number_to_currency(producto.precio, :precision => 0)}
                %span
                  &nbsp; - &nbsp;
                %span.tiene_descuento
                  #{number_to_currency(producto.descuento, :precision => 0)}
              -else
                %span
                  #{number_to_currency(producto.precio, :precision => 0)}
  .swiper-button-prev
  .swiper-button-next
= render(:partial => "mobile/layouts/footer")
:javascript
  $(function(){
    var mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      loop: true
    });
    
    $('.swiper-button-next').bind("click", function(){
      mySwiper.swipeNext()
    })

    $('.swiper-button-prev').bind("click", function(){
      mySwiper.swipePrev()
    })
  })

