#lonuevo
  =image_tag "mobile/titulos/lo_nuevo.png", {:id => "titulos", :class => "hotnow"}
  .swiper-container
    .swiper-wrapper
      - seccion_productos = @contenido.producto_seccion.limit(6)
      - seccion_productos.each do |seccion_producto|
        - producto = seccion_producto.producto
        .swiper-slide
          .contengo-producto
            .imagen
              =link_to image_tag(producto.foto.url(:mediano)), m_producto_path(producto.slug)
              - if current_usuario
                - fav_class = (current_usuario) ? (current_usuario.productos.include?(@producto)) ? "hover animated infinite pulse" : "" : ""
                %div{:"data-upc" => @producto.upc, :class => "add_to_favs #{fav_class}"}
              -else
                %a.add_to_favs_link{:href => usuario_wishlist_path}
              :coffee
                $ ->
                  fav = new Usuarios.Userlist()
                  fav.add_to_userlist()
            .marca
              = producto.marca.marca.upcase
            .link
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), m_producto_path(producto.slug)
            %p.price
              Nuevo. 
              -if producto.tiene_descuento
                %span.precio_original
                  #{number_to_currency(producto.precio, :precision => 0)}
                %span
                  &nbsp; - &nbsp;
                %span.tiene_descuento
                  #{number_to_currency(producto.descuento, :precision => 0)}
              -else
                %span
                  #{number_to_currency(producto.precio, :precision => 0)}
            .ver-mas-contenido.animated.pulse
              %i.glyphicon.glyphicon-chevron-down.animated
            .contenidos{:itemprop => "description"}
              - unless producto.descripcion.nil? || producto.descripcion.size < 5
                #tab3.tabdesc
                  .descripcion
                    =producto.descripcion.html_safe
              - unless producto.usos.nil? || producto.usos.size < 5
                #tab3.tabdesc
                  .descripcion
                    =producto.usos.html_safe
              - unless producto.ingredientes.nil?
                #tab3.tabdesc
                  .descripcion
                    =producto.ingredientes.html_safe
  .swiper-button-prev
  .swiper-button-next
= render(:partial => "mobile/layouts/footer")
:javascript
  var mySwiper
  var flag = 0
  $(function(){
    mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      loop: true
    });
    
    $('.swiper-button-next').bind("click", function(){
      mySwiper.swipeNext()
    })

    $('.swiper-button-prev').bind("click", function(){
      mySwiper.swipePrev()
    })

    $(".ver-mas-contenido").click(function(){
      $(".contenidos").toggleClass("animated").toggleClass("fadeIn").toggleClass("visible")
      $(".ver-mas-contenido i").toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-up")
      if($(".contenidos").hasClass("visible")){
        $.each(mySwiper.slides, function(i, x){$(x).height(2000)})
        $(mySwiper.wrapper).height(2000)
      }else{
        $.each(mySwiper.slides, function(i, x){$(x).height(350)})
        $(mySwiper.wrapper).height(350)
      }
    })
  })

