#menu.animated.fadeInDown
  %ul.submenu-list
    %li
      =link_to new_m_usuario_session_path do
        Mi cuenta
        %span.glyphicon.glyphicon-chevron-right

    %li
      =link_to m_tiendas_path do
        Tienda
        %span.glyphicon.glyphicon-chevron-right

    %li
      =link_to m_minimakeovers_path do
        Beauty Studio
        %span.glyphicon.glyphicon-chevron-right

    %li
      =link_to m_eventos_path do
        Eventos
        %span.glyphicon.glyphicon-chevron-right

    %li
      =link_to m_marcas_path do
        Marcas
        %span.glyphicon.glyphicon-chevron-right

    %li.list-container.visible
      = link_to '#' do
        Maquillaje
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/rostro"} Rostro
        %li
          %a{:href => "/mobile/categoria/brochas-y-aplicadores"} Brochas y Aplicadores
        %li
          %a{:href => "/mobile/categoria/paletas-y-sets"} Paletas y Sets
        %li
          %a{:href => "/mobile/categoria/ojos"} Ojos
        %li
          %a{:href => "/mobile/categoria/labios"} Labios
        %li
          %a{:href => "/mobile/categoria/unas"} Uñas
        %li
          %a{:href => "/mobile/categoria/cuerpo"} Cuerpo
    %li.list-container.visible
      = link_to '#' do
        Skincare
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/lip-balm-y-tratamientos"} Bálsamo Labial y Tratamientos
        %li
          %a{:href => "/mobile/categoria/bronceadores-y-autobronceadores"} Bronceadores y Autobronceadores
        %li
          %a{:href => "/mobile/categoria/suplementos"} Suplemento
        %li
          %a{:href => "/mobile/categoria/mascarillas-y-exfoliantes"} Mascarillas y Exfoliantes
        %li
          %a{:href => "/mobile/categoria/sets-de-inicio-y-regimenes"} Sets de Inicio y Regímenes
        %li
          %a{:href => "/mobile/categoria/limpiadores"} Limpiadores
        %li
          %a{:href => "/mobile/categoria/hidratantes"} Hidratantes
        %li
          %a{:href => "/mobile/categoria/tonicos-y-rociadores"} Tónicos y Rociadores
        %li
          %a{:href => "/mobile/categoria/tratamientos-para-el-rostro"} Tratamientos para el Rostro
        %li
          %a{:href => "/mobile/categoria/protector-solar"} Protector Solar
        %li
          %a{:href => "/mobile/categoria/cremas-para-ojos"} Cremas para Ojos
        %li
          %a{:href => "/mobile/categoria/removedor-de-vellos"} Removedor de Vellos
        %li
          %a{:href => "/mobile/categoria/bbcream"} BB & CC Creams
        %li
          %a{:href => "/mobile/categoria/aceites"} Aceites
    %li.list-container.visible
      = link_to '#' do
        Fragancias
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/obsequios-y-sets"} Obsequios y Sets
        %li
          %a{:href => "/mobile/categoria/hombre"} Hombre
        %li
          %a{:href => "/mobile/categoria/mujer"} Mujer
        %li
          %a{:href => "/mobile/categoria/rollerball"} Rollerball
    %li.list-container.visible
      = link_to '#' do
        Baño/Cuerpo
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/scrubs-y-exfolianes"} Exfoliantes
        %li
          %a{:href => "/mobile/categoria/obsequios-y-sets-6"} Obsequios y Sets
        %li
          %a{:href => "/mobile/categoria/manos-y-pies"} Manos y Pies
        %li
          %a{:href => "/mobile/categoria/celulitis-y-estrias"} Celulitis y Estrías
        %li
          %a{:href => "/mobile/categoria/hidratantes-bano-cuerpo"} Hidratantes
        %li
          %a{:href => "/mobile/categoria/limpiadores-bano-y-cuerpo"} Limpiadores Baño y Cuerpo
    %li.list-container.visible
      = link_to '#' do
        Cabello
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/shampoo"} Shampoo
        %li
          %a{:href => "/mobile/categoria/acondicionador"} Acondicionador
        %li
          %a{:href => "/mobile/categoria/tratamientos-para-el-cabello"} Tratamientos para el Cabello
        %li
          %a{:href => "/mobile/categoria/productos-para-styling"} Productos para Styling
        %li
          %a{:href => "/mobile/categoria/herramientas"} Herramientas
        %li
          %a{:href => "/mobile/categoria/accesorios"} Accesorios
        %li
          %a{:href => "/mobile/categoria/cepillos-y-peines"} Cepillos y Peines
    %li.list-container.visible
      = link_to '#' do
        Accesorios
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/bolsos-y-estuches"} Bolsos y Estuches
        %li
          %a{:href => "/mobile/categoria/brochas-y-aplicadores-maquillaje"} Brochas y Aplicadores
        %li
          %a{:href => "/mobile/categoria/herramientas-de-spa"} Herramientas de Spa
        %li
          %a{:href => "/mobile/categoria/manicure-y-pedicure"} Manicure y Pedicure
        %li
          %a{:href => "/mobile/categoria/pinzas-y-accesorios-de-cejas"} Pinzas y Accesorios de cejas
        %li
          %a{:href => "/mobile/categoria/rizadores-de-pestanas"} Rizadores de Pestañas
        %li
          %a{:href => "/mobile/categoria/sacapuntas"} Sacapuntas
        %li
          %a{:href => "/mobile/categoria/espejos"} Espejos
    %li.list-container.visible
      = link_to '#' do
        Hombres
        %span.glyphicon.glyphicon-chevron-down.circled
      %ul.submenu
        %li
          %a{:href => "/mobile/categoria/obsequios-y-sets-5"} Obsequios y Sets
        %li
          %a{:href => "/mobile/categoria/afeitado"} Afeitado
        %li
          %a{:href => "/mobile/categoria/humectantes-y-tratamientos"} Humectantes y Tratamientos
        %li
          %a{:href => "/mobile/categoria/cremas-de-ojos"} Cremas de Ojos
        %li
          %a{:href => "/mobile/categoria/cuerpo-y-ducha"} Cuerpo y Ducha'
    %li
      = link_to '/mobile/soluciones' do
        Soluciones
        %span.glyphicon.glyphicon-chevron-right
    %li
      =link_to '/mobile/posts' do
        Blog
        %span.glyphicon.glyphicon-chevron-right
:coffee
  $(document).ready ->
    $(".icono.menu").click ->
      $("#menu").toggleClass("visible")

    $(".list-container").click ->
      $(this).find(".submenu").toggleClass("visible")