- tiendas = { 1 => "Antara", 2 => "Andares", 3 => "Interlomas", 4 => "Satélite", 5 => "Angelópolis", 6 => "Santa Fe" }
%section#aniversario
  %header
    .pastel.inlineblock
    .calendario.inlineblock
      .intro
        =image_tag 'aniversario/titulo.png'
      .calendario-content  
        - if params[:tienda]
          .calendario-contenido
            %h3 OCTUBRE
            = calendar_for @eventos, :year => 2013, :month => 10 do |t|
              = t.day(:day_method => :fecha) do |day, eventos|
                - if eventos.any?
                  %a{ :href => "/beautyissue/tienda/#{params[:tienda]}/fecha/#{eventos.first.fecha.strftime('%F')}", :style => 'font-weight: bold' }
                    = day.day
                - else
                  = day.day
        .tiendas-contenido
          %h4 Selecciona tu tienda
          %ol
            %li
              %a{ :href => "/beautyissue/tienda/1" }
                Sephora Antara (DF)
            %li
              %a{ :href => "/beautyissue/tienda/2" }
                Sephora Andares (GDL)
            %li
              %a{ :href => "/beautyissue/tienda/3" }
                Sephora Interlomas (EDO.MEX)
            %li
              %a{ :href => "/beautyissue/tienda/6" }
                Sephora Santa Fe (DF)
            %li
              %a{ :href => "/beautyissue/tienda/4" }
                Sephora Satélite (DF)
            %li
              %a{ :href => "/beautyissue/tienda/5" }
                Sephora Angelópolis (PUE)
      - if params[:fecha]
        .angelopolis
          %h3 Sephora #{tiendas[params[:tienda].to_i]} <span> #{Date.parse(params[:fecha]).strftime('%e-%b')}</span>
      - else
        .angelopolis
    - if @eventos_fecha and @eventos_fecha.any?
      %ul.tiendas-lista
        %p Lista de eventos
        - @eventos_fecha.each do |evento|
          %li.eventomodal
            =link_to evento.nombre, '#', :data => {:toggle => "modal", :nombre => evento.nombre, :descripcion => evento.descripcion }
  .thrills
    .descripcion
      = image_tag 'aniversario/txt2.png'
    .redes
      %li.no
        %p Comparte tu amor por Sephora
      %li
        = link_to image_tag('aniversario/fb_icon.png'),'https://www.facebook.com/SephoraMX'
      %li
        = link_to image_tag('aniversario/tw_icon.png'),'https://twitter.com/sephoramx'
      %li
        = link_to image_tag('aniversario/yt_icon.png'),'http://www.youtube.com/SephoraMex'
      %li
        = link_to image_tag('aniversario/insta_icon.png'),'http://instagram.com/sephoramx'

    #modal
      #modalcontent.table.full
        .pro.tcell.t25
          %h2.titulo
          %p.descevento
      .fond
      .cerrar
        X
