#basecontorno
  .wrap
    .header.table.full
      .tcell.t50
        =link_to image_tag('basecontorno/home/logo.png', class: 'logo'), root_path
      .tcell.t50
        %ul.menu
          %li=link_to "Foundation", basecontorno_foundation_path
          %li=link_to "Contour", basecontorno_contour_path
  .content.fundation_concern
    .wrap
      = image_tag 'basecontorno/foundation/concern/foundation_concern_txt.png'
      %ul
        %li
          %a{href: basecontorno_foundation_video_path('seca')}
            = image_tag 'basecontorno/foundation/concern/piel_seca.png'
            = image_tag 'basecontorno/foundation/concern/flecha.png', class: 'arrow'
        %li
          %a{href: basecontorno_foundation_video_path('mixta')}
            = image_tag 'basecontorno/foundation/concern/piel_mixta.png'
            = image_tag 'basecontorno/foundation/concern/flecha.png', class: 'arrow'
        %li
          %a{href: basecontorno_foundation_video_path('grasa')}
            = image_tag 'basecontorno/foundation/concern/piel_grasa.png'
            = image_tag 'basecontorno/foundation/concern/flecha.png', class: 'arrow'
        %li
          %a{href: basecontorno_foundation_video_path('sensible')}
            = image_tag 'basecontorno/foundation/concern/piel_sensible.png'
            = image_tag 'basecontorno/foundation/concern/flecha.png', class: 'arrow'
  .footer
    .wrap
      .table.full
        .tcell.t50  
          =link_to image_tag('basecontorno/home/web_footer.png', class: 'footer-logo'), root_path
        .tcell.t50  
          =image_tag 'basecontorno/home/lineas_footer.png', class: 'lines'
          %ul.social
            %li=link_to image_tag('basecontorno/home/fb.png'), 'https://www.facebook.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/tw.png'), 'https://twitter.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/yt.png'), 'http://www.youtube.com/SephoraMex', target: :blank
            %li=link_to image_tag('basecontorno/home/ig.png'), 'https://instagram.com/sephoramx/', target: :blank
