#basecontorno
  .wrap
    .header.table.full
      .tcell.t50
        =link_to image_tag('basecontorno/home/logo.png', class: 'logo'), root_path
      .tcell.t50
        %ul.menu
          %li=link_to "Foundation", basecontorno_foundation_path
          %li=link_to "Contour", basecontorno_contour_path
  .content.foundation_video
    .wrap
      %p=image_tag 'basecontorno/video/contour_title.png'
      %p
        %b= @question
      .video-container
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "540", :src => "https://www.youtube.com/embed/#{@video}", :width => "960"}
      %p=image_tag 'basecontorno/video/obten_el_look_pleca.png', class: 'pleca'
      %ul.nobullet.producto-list
        - @productos.each do |producto|
          %li
            .prod
              .imagen
                =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
              %h5.marca
                = producto.marca.marca.upcase
              %h5
                =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
      %h3 ¿Tienes más beauty concerns?
      %h4 Descubre más videos de nuestros expertos
      .table.full.videos
        - @data.except(params[:tipo].to_sym).each do |key, result|
          .tcell.t33
            .video-container
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "169", :src => "https://www.youtube.com/embed/#{result[:video]}", :width => "300"}
  .footer
    .wrap
      .table.full
        .tcell.t50  
          =link_to image_tag('basecontorno/home/web_footer.png', class: 'footer-logo'), root_path
        .tcell.t50  
          =image_tag 'basecontorno/home/lineas_footer.png', class: 'lines'
          %ul.social
            %li=link_to image_tag('basecontorno/home/fb.png'), 'https://www.facebook.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/tw.png'), 'https://twitter.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/yt.png'), 'http://www.youtube.com/SephoraMex', target: :blank
            %li=link_to image_tag('basecontorno/home/ig.png'), 'https://instagram.com/sephoramx/', target: :blank
= content_for :footer do
  %link{:href => "//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js", :type => "text/javascript"}
  :javascript
    $('.producto-list').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      nextArrow: '<a href="#" class="next"></a>',
      prevArrow: '<a href="#" class="prev"></a>',
      responsive: [
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            slidesToShow: 1
          }
        }
      ]
    });
