- provide :titulo, ''
%section#seccion-ver.consultores
  .table.full
    .contizq.tcell.t25
      %ul
        %li
          %a{:href => "#reserva"} Reserva
        %li
          %a{:href => "#marcas_invitadas"} Marcas invitadas
    .contder.tcell.t75.ctr
      = image_tag("beautyfair/bf2015_landingV2_r1_c1.jpg")
      = image_tag("beautyfair/bf2015_landingV2_r2_c1.jpg")
      = image_tag("beautyfair/bf2015_landingV2_r3_c1.jpg")
      #reserva
        = image_tag("beautyfair/bf2015_landingV2_r4_c1.jpg")
      #marcas_invitadas
        = image_tag("beautyfair/bf2015_landingV2_r5_c1.jpg")