/ =image_tag 'home/flame.jpg', class: 'flame-left', size: '90x616'
=image_tag 'home/copo.jpg', class: 'copo', size: '210x375'
=image_tag 'home/copo2.png', class: 'copo2', size: '210x375'
#slider-home.full
  #producto.tcell.t25.middle
    %ul.nobullet.nolist.home
      - seccion_productos = @contenido.producto_seccion.limit(3)
      - seccion_productos.each do |seccion_producto|
        - producto = seccion_producto.producto
        %li
          .producto-imagen
            =image_tag 'home/hotnow.jpg'
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
          .producto-info
            %p
              = producto.marca.marca
            .producto-p
              %p
                =producto.nombre.split(' ').map {|w| w.capitalize }.join(' ')
  #poster.tcell.t75
    .contenedor
      .slider
        .prox
          %p 1/2
        .ante
          %p 2/2
        %a.diapositiva
          =image_tag "home/1.jpg"
        %a.diapositiva{:href=>'/hotnow'}
          =image_tag "home/2.jpg"
#separador
  %p.linksrapidos
    LINKS RÃPIDOS:
    %span
      %a{ :href => "/hotnow" }
        HOT NOW
    %span
      %a{ :href => "/bestsellers" }
        BEST SELLERS
    %span
      %a{ :href => "/favorites" }
        FAVORITES
- if @bestsellers and (bestsellers_productos = @bestsellers.producto_seccion) and bestsellers_productos.any?
  #best-sellers
    %h3 BEST SELLERS
    %a#slideleft
    %a#slideright
    #slider-wrap
      %ul.nobullet.nolist.bestsellers
        - bestsellers_productos.each_with_index do |bestsellers_producto, i|
          - producto = bestsellers_producto.producto
          %li
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h6.number
              = i+1
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to producto.nombre.split(' ').map {|w| w.capitalize }.join(' '), producto_ver_path(producto.slug)
            - unless bestsellers_producto.descripcion.empty?
              %p
                = bestsellers_producto.descripcion
            / %p
            /   %small= number_to_currency producto.precio
- if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
  #best-sellers
    %h3 LO NUEVO
    %a#slideleft2
    %a#slideright2
    #slider-wrap
      %ul.nobullet.nolist.lonuevo
        - lonuevo_productos.each do |lonuevo_producto|
          - producto = lonuevo_producto.producto
          %li
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to producto.nombre.split(' ').map {|w| w.capitalize }.join(' '), producto_ver_path(producto.slug)
            - unless lonuevo_producto.descripcion.empty?
              %p
                = lonuevo_producto.descripcion
            / %p
            /   %small= number_to_currency producto.precio
#esta-semana
  %h3 ESTA SEMANA
  .table.full
    .tcell.t50
      %a{ :href => "/sephorabath", :target => '_blank' }
        =image_tag "home/cata2.jpg"
    .tcell.t50
      %a{ :href => "/archivos/catalogo.pdf" }
        =image_tag "home/cata1.jpg"
