- provide :titulo, 'Sephora México'
- provide :descripcion, "Explora la biblioteca de productos de belleza más grande de Latinoamérica. Cosméticos - Maquillaje - Skincare - Perfumes y más de exclusivas marcas."
- provide :url, "http://sephora.com.mx"
- provide :imagen, 'http://sephora.com.mx/logo.png'
#slider-home.full
  #poster.tcell.full
    .prox.jesus
    .ante.jesus
    .contenedor
      .slider
        %a.diapositiva.first.visible{:href=> "http://sephora.com.mx/skincare?utm_source=SitioWeb&utm_medium=Banner1&utm_campaign=Skincare"}
          =image_tag "home/banners/960/banners_principal_skincare.jpg"
        %a.diapositiva.last{:href=> "http://sephora.com.mx/marca/formula-x?utm_source=SitioWeb&utm_medium=Banner2&utm_campaign=FormulaX"}
          =image_tag "home/banners/960/formulaX_1.jpg"
#separador
  %p.linksrapidos
    LINKS RÁPIDOS:
    %span
      %a{ :href => "/hotnow" }
        HOT NOW
    %span
      %a{ :href => "/bestsellers" }
        BEST SELLERS
    %span
      %a{ :href => "/favorites" }
        FAVORITES
- if @bestsellers and (bestsellers_productos = @bestsellers.producto_seccion) and bestsellers_productos.any?
  #best-sellers
    %h3 BEST SELLERS
    #slider-wrap
      %ul.nobullet.nolist.bestsellers#bestsellers.jcarousel-skin-tango
        - bestsellers_productos.each_with_index do |bestsellers_producto, i|
          - producto = bestsellers_producto.producto
          %li
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h6.number
              = i+1
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
            - unless bestsellers_producto.descripcion.empty?
              %p
                = bestsellers_producto.descripcion
            / %p
            /   %small= number_to_currency producto.precio
- if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
  #best-sellers
    %h3 LO NUEVO
    #slider-wrap
      %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
        - lonuevo_productos.each do |lonuevo_producto|
          - producto = lonuevo_producto.producto
          %li
            .imagen
              =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
            - unless lonuevo_producto.descripcion.empty?
              %p
                = lonuevo_producto.descripcion

  #hotnow
    %h3.ht_div HOT NOW
    #slider-wrap
      %ul.nobullet.nolist#hotnow.jcarousel-skin-tango
        - seccion_productos = @contenido.producto_seccion.limit(6)
        - seccion_productos.each do |seccion_producto|
          - producto = seccion_producto.producto
          %li
            .imagen
              =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
#esta-semana
  .table.full
    .tcell.t50
      %a{ :href => 'http://sephora.com.mx/skincareojos?utm_source=SitioWeb&utm_medium=BannerInfIzq&utm_campaign=SkincareOjos', :target => 'blank'}
        =image_tag "home/banners/inferior/izquierdo.jpg"
    .tcell.t50
      %a{ :href => "http://sephora.com.mx/lista_eventos?utm_source=SitioWeb&utm_medium=BannerInfDer&utm_campaign=Eventos" }
        =image_tag "home/banners/inferior/derecho.jpg"
- unless mobile_device?
  #mod
    %a.close{:href=>"#"}
      X
    = form_for @registro, :url => registro_path do |f|
      = f.text_field :nombre
      = f.text_field :email, :type => 'email'
      = f.text_field :cp
      = f.submit '', :id => 'submit'
  - if flash[:registro]
    #modsuc
      %a.close{:href=>"#"}
        X
