- provide :titulo, 'Sephora México'
- provide :descripcion, "Explora la biblioteca de productos de belleza más grande de Latinoamérica. Cosméticos - Maquillaje - Skincare - Perfumes y más de exclusivas marcas."
- provide :url, "http://sephora.com.mx"
- provide :imagen, 'http://sephora.com.mx/logo.png'
#slider-home.full
  #poster.tcell.full
    .prox.jesus
    .ante.jesus
    .contenedor
      .slider
        %a.diapositiva.first.visible{:href=> "http://www.sephora.com.mx/fragancias?utm_source=SitioWeb&utm_medium=Main1&utm_campaign=Fragancias"}
          =image_tag "home/banners/banner1.png"
        %a.diapositiva{:href=> "http://www.sephora.com.mx/beautyonthefly?utm_source=SitioWeb&utm_medium=Banner2&utm_campaign=BeautyOnTheFly"}
          =image_tag "home/banners/banner0.jpg"
        %a.diapositiva{:href=> "http://www.sephora.com.mx/marca/living-proof?utm_source=SitioWeb&utm_medium=Banner2&utm_campaign=LivingProof"}
          =image_tag "home/banners/Banner3.jpg"
  :coffee
    $ ->
      a = new Paginas.Index()
      a.start_slider()
#separador
  %p.linksrapidos
    LINKS RÁPIDOS:
    %span
      %a{ :href => "/hotnow" }
        HOT NOW
    %span
      %a{ :href => "/sephorapicks" }
        SEPHORA'S PICKS
    %span
      %a{ :href => "/bestsellers" }
        BEST SELLERS
#linea-rosa
- if @bestsellers and (bestsellers_productos = @bestsellers.producto_seccion) and bestsellers_productos.any?
  #best-sellers
    %h3 SEPHORA'S PICKS
    #slider-wrap
      %ul.nobullet.nolist.bestsellers#bestsellers.jcarousel-skin-tango
        - bestsellers_productos.each_with_index do |bestsellers_producto, i|
          - producto = bestsellers_producto.producto
          %li
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h6.number
              = i+1
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
            - unless bestsellers_producto.descripcion.empty?
              %p
                = bestsellers_producto.descripcion
            / %p
            /   %small= number_to_currency producto.precio
- if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
  #best-sellers
    %h3 LO NUEVO
    #slider-wrap
      %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
        - lonuevo_productos.each do |lonuevo_producto|
          - producto = lonuevo_producto.producto
          %li
            .imagen
              =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
            - unless lonuevo_producto.descripcion.empty?
              %p
                = lonuevo_producto.descripcion

  #hotnow
    %h3.ht_div HOT NOW
    #slider-wrap
      %ul.nobullet.nolist#hotnow.jcarousel-skin-tango
        - seccion_productos = @contenido.producto_seccion.limit(6)
        - seccion_productos.each do |seccion_producto|
          - producto = seccion_producto.producto
          %li
            .imagen
              =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
#esta-semana
  .table.full
    .tcell.t50
      %a{ :href => 'http://www.sephora.com.mx/promocion?utm_source=SitioWeb&utm_medium=Footer1&utm_campaign=PromoFragancia' }
        =image_tag "home/banners/inferior/izquierdo.jpg"
    .tcell.t50
      %a{ :href => "http://www.sephora.com.mx/lista_eventos?utm_source=SitioWeb&utm_medium=BannerInfDer&utm_campaign=Eventos" }
        =image_tag "home/banners/inferior/derecho.jpg"
