- provide :titulo, 'Sephora México'
- provide :descripcion, "Explora la biblioteca de productos de belleza más grande de latinoamérica. Cosméticos - Maquillaje - Skincare - Perfumes y más de exclusivas marcas."
- provide :url, "http://sephora.com.mx"
- provide :imagen, 'http://sephora.com.mx/logo.png'
#slider-home.full
  #producto.tcell.t25.middle
    %ul.nobullet.nolist.home
      - seccion_productos = @contenido.producto_seccion.limit(6)
      - seccion_productos.each do |seccion_producto|
        - producto = seccion_producto.producto
        %li
          .producto-imagen
            =image_tag 'home/hotnow.jpg'
            %br
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
          .producto-info
            %p
              = producto.marca.marca
            .producto-p
              %p
                =producto.nombre_real.empty? ? producto.nombre : producto.nombre_real
  #poster.tcell.t75
    .contenedor
      .prox.jesus
        %p
      .ante.jesus
        %p
      .slider
        %a.diapositiva{:href=> "http://sephora.com.mx/fraganciassanvalentin?utm_source=SitioWeb&utm_medium=Banner1&utm_campaign=FraganciasSanValentin"}
          =image_tag "home/home_banner1.jpg"
        %a.diapositiva{:href=> "/hotnow"}
          =image_tag "home/home_banner2.jpg"
#separador
  %p.linksrapidos
    LINKS RÁPIDOS:
    %span
      %a{ :href => "/hotnow" }
        HOT NOW
    %span
      %a{ :href => "/bestsellers" }
        BEST SELLERS
    %span
      %a{ :href => "/favorites" }
        FAVORITES
- if @bestsellers and (bestsellers_productos = @bestsellers.producto_seccion) and bestsellers_productos.any?
  #best-sellers
    %h3 BEST SELLERS
    #slider-wrap
      %ul.nobullet.nolist.bestsellers#bestsellers.jcarousel-skin-tango
        - bestsellers_productos.each_with_index do |bestsellers_producto, i|
          - producto = bestsellers_producto.producto
          %li
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h6.number
              = i+1
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
            - unless bestsellers_producto.descripcion.empty?
              %p
                = bestsellers_producto.descripcion
            / %p
            /   %small= number_to_currency producto.precio
- if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
  #best-sellers
    %h3 LO NUEVO
    #slider-wrap
      %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
        - lonuevo_productos.each do |lonuevo_producto|
          - producto = lonuevo_producto.producto
          %li
            .imagen
              =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
            %h5.marca
              = producto.marca.marca.upcase
            %h5
              =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
            - unless lonuevo_producto.descripcion.empty?
              %p
                = lonuevo_producto.descripcion
#esta-semana
  .table.full
    .tcell.t50
      %a{ :href => 'http://www.youtube.com/watch?v=KR6NShAQDKU&feature=youtu.be', :target => 'blank'}
        =image_tag "home/2down.jpg"
    .tcell.t50
      %a{ :href => "http://sephora.com.mx/tiendas" }
        =image_tag "home/1down.jpg"
- unless mobile_device?
  #mod
    %a.close{:href=>"#"}
      X
    = form_for @registro, :url => registro_path do |f|
      = f.text_field :nombre
      = f.text_field :email, :type => 'email'
      = f.text_field :cp
      = f.submit '', :id => 'submit'
  - if flash[:registro]
    #modsuc
      %a.close{:href=>"#"}
        X
