#separador
#slider-home.full
  #producto.tcell.t25
    
  #poster.tcell.t75
    .contenedor
      .slider
        .diapositiva.prox
          =image_tag "home/1.jpg"
        .diapositiva.ante
          =image_tag "home/2.jpg"
#separador
  %p.linksrapidos
    LINKS RÃPIDOS:
    %span
      %a{ :href => "/hotnow" }
        HOT NOW
    %span
      %a{ :href => "/bestsellers" }
        BEST SELLERS
    %span
      %a{ :href => "/favorites" }
        FAVORITES
- if @bestsellers and (bestsellers_productos = @bestsellers.producto_seccion) and bestsellers_productos.any?
  #best-sellers
    %h3 BEST SELLERS
    #slider-wrap
      %ul.nobullet.nolist
        - bestsellers_productos.each do |bestsellers_producto|
          - producto = bestsellers_producto.producto
          %li
            %h4
              = producto.nombre
            - unless bestsellers_producto.descripcion.empty?
              %p
                = bestsellers_producto.descripcion
            %p
              = producto.precio
- if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
  #best-sellers
    %h3 LO NUEVO
    #slider-wrap
      %ul.nobullet.nolist
        - lonuevo_productos.each do |lonuevo_producto|
          - producto = lonuevo_producto.producto
          %li
            %h4
              = producto.nombre
            - unless lonuevo_producto.descripcion.empty?
              %p
                = lonuevo_producto.descripcion
            %p
              = producto.precio
#separador
  %h3 ESTA SEMANA
#esta-semana
