- provide :titulo, ''
%section#seccion-ver.consultores
  %h2{:style => 'text-transform: inherit !important'}
    Consultor Personal de Belleza
  .table.full
    .contizq.tcell.t25
      = render 'paginas/menu_tiendas'
    .contder.tcell.t75.ctr
      .consultor_head
        =image_tag 'tiendas/main_banner.jpg'
      .consultores_head.evento_h
        .menu_tienda
          %a{:href=>'/tiendas'}  
            .btn_tienda.inner_m
          %a{:href=>'/lista_eventos'}  
            .btn_evento.inner_m
          %a{:href=>'/minimakeovers'}  
            .btn_beauty.inner_m
        %hr{:class=>'sub_menu_tiendas'}
        .txt_tienda_header
          = image_tag 'eventos/txt_header_eventos.jpg'
        .eventos.e3
          .foto_evento
            =image_tag 'eventos/imgeventos/noviembre/1min.png'   
          .info_cont_evento
            .titulo_evento 1 Amazing Minute Stand
            .sub_evento Descubre cómo un minuto al día puede cambiar tu piel con clarisonic. ¡Prepárate para lucir la piel más limpia y hermosa que nunca!
            .evento_cont
              %span{:class=>'evento_bold'} Sephora Antara
              Noviembre 15 y 16
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=1%20Amazing%20Minute%20Stand&field108=Antara'}
                .reserva_evento
        - @eventos.each do |evento|
          - store_events = StoreEvent.where(:event_id => evento.id)
          .eventos
            .foto_evento
              =image_tag(evento.photo(:normal))
            .info_cont_evento
              .titulo_evento= evento.title
              .sub_evento= evento.description
              - store_events.each do |store_event|
                - tienda = Tienda.find(store_event.tienda_id)
                .evento_cont
                  %span{:class=>'evento_bold'}= tienda.nombre.upcase
                  = store_event.dates.upcase
                  = link_to store_event.link do
                    .reserva_evento
              .clearfix
        .clearfix