- provide :titulo, 'Tu lista'
%section#tu-lista
  = image_tag "tu-lista/header.png"

  %hr.sep

  .table.full.hotnow
    .tcell.t66
      .caja
        %a{:href => '/hotnow'}
          = image_tag "tu-lista/hotnow.jpg", :width => "630"
    .tcell.t33
      .caja.hotnow
        .header.ctr
          SEPHORA 
          %br
          %strong HOT NOW
        %ol.nobullet
          %li KEARTIN PERFECT: PerfectRescue Intense Keratin Repair Serum $840
          %li CLINIQUE: Even Better Eyes Dark Circle Corrector $640
          %li URBAN DECAY: Build Your Own Palette $300
          %li Dr. Brandt:  glow by dr. brandt™ ruby crystal retinol hydracrème $1055
          %li ESTEE LAUDER: Sumptuous Two Tone Mascara $370
          %li DIOR: Palette Rose Collection $860

  %hr.sep

  .table.full
    .tcell.t33
      .caja
        .header
          Sephora Favorites
          %strong Máscaras
        = image_tag "tu-lista/promo_1.jpg"
    .tcell.t33
      .caja
        .header
          Sephora Favorites
          %strong Moisturizers
        = image_tag "tu-lista/promo_2.jpg"
    .tcell.t33
      .caja
        .header
          Sephora Favorites
          %strong Primers
        = image_tag "tu-lista/promo_3.jpg"

  %hr.sep

  .caja.top-10
    = image_tag "tu-lista/foto.jpg", :class => :foto
    .header
      %strong MI TOP 10 / MY MAKE UP CORNER: CRIS ORDAZ
    .table.full.top-conte
      .tcell.t45.middle.makeup
        = image_tag "tu-lista/quote.jpg"
        -#%blockquote
        -#  "Siempre lleva en la cartera un esmalte, de preferencia de secado <strong>rápido</strong>, y un removedor. Te ayudará a estar preparada para enfrentar cualquier problema de <strong>uñas</strong> en cualquier lugar."
      .tcell.t55
        %ol
          %li OLE HENRIKSEN 3 little wonder
          %li DIOR Miss Dior Cherié
          %li LANCOME Teint Miracle Tono 370 bisque 
          %li BENEFIT Erase Paste
          %li URBAN DECAY Primer Potion
          %li BENEFIT “That Gal” Brightening Face Primer
          %li NARS Blush Orgasm 
          %li STILA Brighten and Correct Concealer 
          %li STILA Smudge Stick Waterproof Eyeliner 
          %li URBAN DECAY 24/7 Concealer Pencil 

  %hr.sep
