- provide :titulo, 'Tu lista'
- provide :descripcion, 'Explora nuestras listas con los productos más deseados y simplifica tu shopping.'
%section#tu-lista
  = image_tag "tu-lista/header.png"

  %hr.sep

  .table.full.hotnow
    .tcell.t66
      .caja
        %a{:href => '/hotnow'}
          = image_tag "tu-lista/hotnow.jpg", :width => "630"
    .tcell.t33
      .caja.hotnow
        .header.ctr
          SEPHORA 
          %br
          %strong BB CREAMS
        %ol.nobullet
          %li BOSCIA:   B.B. Cream SPF 27 PA ++
          %li CLINIQUE: BB Cream  
          %a{ :href => "/bbcreams", :style => "float: right;" } ver más »
      .caja.hotnow
        .header.ctr
          SEPHORA 
          %br
          %strong TINTED MOISTURIZERS
        %ol.nobullet
          %li HOURGLASS: Illusion Tinted Moisturizer
          %li SMASHBOX: Sheer Focus Tinted Moisturizer
          %li BOBBI BROWN:  SPF 15 Tinted Moisturizer   Oil-Free-Medium Tint
          %li TOO FACED:  Tinted Beauty Balm
          %a{ :href => "/tintedmoisturizers", :style => "float: right;" } ver más »

  %hr.sep

  .table.full.size
    .tcell.t25
      .caja
        .header
          Sephora Favorites
          %strong Máscaras
        %a{:href => '/favorites/18'}
          = image_tag "tu-lista/promo_1.jpg"
    .tcell.t25
      .caja
        .header
          Sephora Favorites
          %strong Moisturizers
        %a{:href => '/favorites/20'}
          = image_tag "tu-lista/promo_2.jpg"
    .tcell.t25
      .caja
        .header
          Sephora Favorites
          %strong Primers
        %a{:href => '/favorites/19'}
          = image_tag "tu-lista/promo_3.jpg"
    .tcell.t25
      .caja
        .header
          Sephora Favorites
          %strong Rollerballs
        %a{:href => '/favorites/21'}
          = image_tag "tu-lista/promo_4.jpg"

  %hr.sep

  .caja.top-10
    = image_tag "tu-lista/foto.jpg", :class => :foto
    .header
      %strong MI TOP 10 / MY MAKE UP CORNER: CRIS ORDAZ
    .table.full.top-conte
      .tcell.t45.middle.makeup
        = image_tag "tu-lista/quote.jpg"
        -#%blockquote
        -#  "Siempre lleva en la cartera un esmalte, de preferencia de secado <strong>rápido</strong>, y un removedor. Te ayudará a estar preparada para enfrentar cualquier problema de <strong>uñas</strong> en cualquier lugar."
      .tcell.t55
        %ol
          %li OLE HENRIKSEN 3 little wonder
          %li DIOR Miss Dior Cherié
          %li LANCOME Teint Miracle Tono 370 bisque 
          %li BENEFIT Erase Paste
          %li URBAN DECAY Primer Potion
          %li BENEFIT “That Gal” Brightening Face Primer
          %li NARS Blush Orgasm 
          %li STILA Brighten and Correct Concealer 
          %li STILA Smudge Stick Waterproof Eyeliner 
          %li URBAN DECAY 24/7 Concealer Pencil 

  %hr.sep
