#wallpapers
  .swiper-container
    .swiper-wrapper
      .swiper-slide= image_tag("animacion/abril/mobile/wallpapers/1.jpg")
      .swiper-slide= image_tag("animacion/abril/mobile/wallpapers/2.jpg")
      .swiper-slide= image_tag("animacion/abril/mobile/wallpapers/3.jpg")
      .swiper-slide= image_tag("animacion/abril/mobile/wallpapers/4.jpg")

= render(:partial => "mobile/layouts/footer")
:javascript
  $(function(){
    var mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      loop: false
    });
  })
