%h2 ¿Olvidaste tu contraseña?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :Correo
    %br/
    = f.email_field :email
  %div= f.submit "Enviar intrucciones"
= render :partial => "devise/shared/links"
