- provide :titulo, @seccion.nombre.split(' ').map {|w| w.capitalize }.join(' ')
%section#seccion-ver{ :class => "seccion-#{@seccion.try(:nombre).try(:parameterize)}"}
  %h2
    #{@seccion.nombre}
  .table.full
    .contizq.tcell.t25
      %ul
        %li
    .contder.tcell.t75
      - if @contenido and (seccion_productos = @contenido.producto_seccion) and seccion_productos.any?
        - if @contenido.cover_file_name
          .cover
            = image_tag @contenido.cover.url(:normal)
        %ul.nolist
          - seccion_productos.each_with_index do |seccion_producto, i|
            - producto = seccion_producto.producto
            %li
              .table.full
                .tcell.t15
                  =image_tag "secciones/#{i+1}.png"
                .info.tcell.t60
                  %h4
                    = producto.marca.marca
                  %h5
                    = producto.nombre.split(' ').map {|w| w.capitalize }.join(' ')
                  - unless seccion_producto.descripcion.empty?
                    %p
                      = markdown seccion_producto.descripcion
                .tcell.t15
                  =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
              =image_tag ('secciones/border.png')
