-provide :title, 'Editar Marca'
%h2 Editar Marca
=form_for @marca do |f|
  %p
    =form_error @marca, :marca
    =f.labelbrtext "Marca", :marca, :class => "big full"
  %p
    =form_error @marca, :descripcion
    =f.labelbrtextarea "Descripción", :descripcion, :class => "full"
  %p
    =form_error @marca, :behindthebrand
    =f.labelbrtextarea "Detrás de la marca (opcional)", :behindthebrand, :class => "full"
  %p
    = f.labelbrtext "URL Video", :video, :placeholder => 'http://'
  %p
    = f.label :logo, "Logo"
    %br
    = f.file_field :logo
  - unless @marca.logo_file_name.nil? 
    %p
      = image_tag @marca.logo.url(:mini)
    = f.check_box :remove_logo
    = f.label "¿Quitar foto?"
  %p
    = f.label :promo, "Promo"
    %br
    = f.file_field :promo
  - unless @marca.promo_file_name.nil? 
    %p
      = image_tag @marca.promo.url(:mini)
    = f.check_box :remove_promo
    = f.label "¿Quitar foto?"
  %p.rgt
    =f.submit "Editar"


%h3 Productos destacados
- if (marca_productos = @marca.marca_producto) and marca_productos.any?
  %ul.productos-vinculados{ :'data-cambiar-orden-url' => '/marcas/actualizar_orden' }
    - marca_productos.each do |marca_producto|
      - producto = marca_producto.producto
      %li.vinculo-producto{ :'data-vinculo-id' => marca_producto.id }
        %h6.inline
          #{producto.nombre}
        %small
          %ul.nolist.nobullet.seplist.inline
            %li
              %a{ :href => marca_desvincular_producto_path(@marca.id, marca_producto.id, mini_hash(marca_producto)) }<
                Desvincular
            %li
              %a{ :href => marca_editar_producto_path(@marca.id, marca_producto.id) }<
                Editar
        - unless marca_producto.descripcion.empty?
          .descripcion
            = simple_format marca_producto.descripcion
- else
  .empty
    %h5 No hay productos

= form_for :busqueda, :url => productos_busqueda_path, :html => { :class => "widget-seccion-producto-vincular" } do |f|
  %p
    = f.text_field "q", :type => "search", :class => "big", :placeholder => "Buscar productos"
    = f.submit "Buscar"
  .resultados

= form_for (producto = @marca.marca_producto.build), :url => marca_vincular_producto_path(@marca.id), :html => { :class => "widget-seccion-producto-form" } do |f|
  %h3
    %small Vincular producto
    »
    %span.tmpl-producto-nombre
  = f.hidden_field :producto_id
  %p
    = form_error producto, :descripcion
    = f.labelbrtextarea "Descripción", :descripcion, :class => "full"
  %p.rgt
    = f.submit! "Agregar"
