-provide :title, 'Registrar Marca'
%h2 Registrar Marca
=form_for @marca do |f|
  %p
    =form_error @marca, :marca
    =f.labelbrtext "Marca", :marca, :class => "big full"
  %p
    =form_error @marca, :descripcion
    =f.labelbrtextarea "Descripción", :descripcion, :class => "full"
  %p
    =form_error @marca, :behindthebrand
    =f.labelbrtextarea "Detrás de la marca (opcional)", :behindthebrand, :class => "full"
  %p
    = f.label :logo, "Logo"
    %br
    = f.file_field :logo
  - unless @marca.logo_file_name.nil? 
    %p
      = image_tag @marca.logo.url(:mini)
  %p
    = f.label :promo, "Promo"
    %br
    = f.file_field :promo
  - unless @marca.promo_file_name.nil? 
    %p
      = image_tag @marca.promo.url(:mini)
  %p.rgt
    =f.submit "Registrar"
