- provide :titulo, @marca.marca
%section#marca
  %h3.title
    = @marca.marca
  .table.full
    .contizq.tcell.t20
      %ul
        %li.first
          = @marca.marca
    .contder.tcell.t80
      .table.full
        .tcell.t65
          %h2
            %div{:style=>"width: 235px; height: 77px; border: 1px solid red;"}
          %p
            =@marca.descripcion
          %p.mas
            ver más
            %span
              ▼
        .tcell.t35
          %div{:style=>"width: 288px; height: 287px; border: 1px solid red;"}
      %h3 EXPLORA LA MARCA
      %h4
        BEST SELLERS
        %ul.nobullet
          %li
            %div{:style=>"width: 145px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 #{@marca.marca}
            %p Descripcion
            %p $Costo
          %li
            %div{:style=>"width: 145px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 #{@marca.marca}
            %p Descripcion
            %p $Costo
          %li
            %div{:style=>"width: 145px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 #{@marca.marca}
            %p Descripcion
            %p $Costo
