- provide :titulo, @marca.marca
- provide :url, "http://sephora.com.mx/marca/#{@marca.slug}"
- provide :imagen, @marca.logo.url(:normal)
-unless @marca.descripcion.nil?
  - provide :descripcion, @marca.descripcion.html_safe[0..160]
%section#marca
  %h3.title
    = @marca.marca
  .table.full
    .contizq.tcell.t20
      %ul
        %li.first
          = @marca.marca
        - unless @categorias.empty?
          %li.second
            Categorías
            %ul
              - @categorias.each do |t|
                - slug = t.parameterize
                %li
                  = link_to t, categoria_ver_path(slug)+"?marca=#{@marca.id}"
        - unless @marca.behindthebrand.empty?
          %li.behindbutton
            Detrás de la marca
    .contder.tcell.t80
      .table.full
        .tcell.t65
          %h2
            - unless @marca.logo_file_name.nil? 
              = image_tag @marca.logo.url(:grande)
          %p
            =@marca.descripcion.gsub(/(\r|\n)+/, '<br />').html_safe
          - unless @marca.behindthebrand.empty?
            %p.behindbutton
              Detrás de la marca ▼
        .tcell.t35
          - unless @marca.promo_file_name.nil? 
            = image_tag @marca.promo.url(:grande)
      - unless @marca.behindthebrand.empty?
        .table.full.behindthebrand
          %h3 DETRÁS DE LA MARCA
          %p
            =@marca.behindthebrand.gsub(/(\r|\n)+/, '<br />').html_safe
      - unless @marca.marca_producto.count == 0
        %h3 EXPLORA LA MARCA
        .catalogo
          %h4.title
            BEST SELLERS
          %ul.nobullet.nolist
            - @marca.marca_producto.each do |marca_producto|
              %li
                - unless marca_producto.producto.foto_file_size.nil?
                  = link_to image_tag(marca_producto.producto.foto(:normal)), producto_ver_path(marca_producto.producto.slug)
                %h4 #{marca_producto.producto.marca.marca.upcase}
                %h4 #{link_to marca_producto.producto.nombre.split(' ').map {|w| w.capitalize }.join(' '), producto_ver_path(marca_producto.producto.slug)}
                %p $#{number_to_currency(marca_producto.producto.precio, :precision => 0)}
