- provide :titulo, @marca.marca
%section#marca
  %h3.title
    = @marca.marca
  .table.full
    .contizq.tcell.t20
      %ul
        %li.first
          = @marca.marca
    .contder.tcell.t80
      .table.full
        .tcell.t65
          %h2
            - unless @marca.logo_file_name.nil? 
              = image_tag @marca.logo.url(:grande)
          %p
            =@marca.descripcion
          %p.mas
            ver más
            %span
              ▼
        .tcell.t35
          - unless @marca.promo_file_name.nil? 
            = image_tag @marca.promo.url(:grande)
      - if @marca.marca_producto.size
        %h3 EXPLORA LA MARCA
        %h4
          BEST SELLERS
          %ul.nobullet
            - @marca.marca_producto.each do |marca_producto|
              %li
                - unless marca_producto.producto.foto_file_size.nil?
                  = image_tag marca_producto.producto.foto(:normal)
                %h4
                  = marca_producto.producto.marca.marca
                %h4
                  = marca_producto.producto.nombre
                %p
                  $#{marca_producto.producto.precio}
