#main{:vista=>"retomakeover_ver"}
  #acerca
    #lamarca
      %h1.acerca
        = @nombre
      %h2
        = @acerca
      = image_tag("aniversario-catorce/gallery/interiores/#{@img}", {:class => "imagen-interior"})
      %h3.titulo
        = @titulo
      %p.descripcion
        = @descripcion
      %h2.black
        Evento
        %br
        %span
          31 de Octubre, 1 y 2 de Noviembre
      %a.btn-regresar{:href => m_retomakeover_path}
        Regresar
