#main{:vista=>"tiendas"}
  .tienda
    %ul
      - @tiendas.each do |t|
        %li
          .establecimiento
            %h5 
              = t.nombre
            .imagen
              = image_tag t.foto, {:class => "clip-me"}
            .info
              %p 
                %i.glyphicon.glyphicon-calendar
                = t.horario
              %p
                %i.glyphicon.glyphicon-phone-alt
                = t.contacto
              %p
                %i.glyphicon.glyphicon-home
                = t.direccion
              = link_to "Ver mapa", t.map, {:class => "btn btn-block btn-black"}
