.videos
  %h3 videos
.repvideos
  %ul 
    %li
      %a{:href => 'http://www.youtube.com/watch?v=T1NVnzhUtFU'}
        .vidimg
          = image_tag('mobile/videos/1.jpg')
        .titulovideo
          %h4 Cómo lograr el look de ojos natural
          %p Descubre con los expertos de Sephora cómo conseguir smoky eyes de impacto.
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=Ecf_CQ6ep-Q'} 
        .vidimg
          = image_tag('mobile/videos/2.jpg')
        .titulovideo
          %h4 Cómo lograr un delineado perfecto
          %p Aprende de nuestros expertos cómo delinear tus ojos para una mirada hipnótica.
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=xXLAdXDrs4E'} 
        .vidimg
          = image_tag('mobile/videos/3.jpg')
        .titulovideo
          %h4 Cómo lograr smoky eyes de impacto 
          %p Descubre con los expertos de Sephora cómo conseguir smoky eyes de impacto.
    %li 
      %a{:href => "http://www.youtube.com/watch?v=ZQr4RnSZSio"} 
        .vidimg
          = image_tag('mobile/videos/4.jpg')
        .titulovideo
          %h4 Cómo obtener un rostro luminoso
          %p Aprende con los tips de nuestros expertos cómo obtener el rostro perfecto.
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=kOLZQAu23_U' }
        .vidimg
          = image_tag('mobile/videos/5.jpg')
        .titulovideo
          %h4 Cómo aplicar blush y bronzer.
          %p Aprende de nuestros expertos cómo aplicar tu blush y bronzer cómo toda una profesional.
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=2BtGA5ruKZg'}
        .vidimg
          = image_tag('mobile/videos/6.jpg')
        .titulovideo
          %h4 Look Neon
          %p Atrévete por audaces nail looks, brillantes y coloridos. Visita nuestro Nail Studio y descubre los múltiples looks que puedes crear en él. 
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=v5rF2psmY7w' }
        .vidimg
          = image_tag('mobile/videos/7.jpg')
        .titulovideo
          %h4 Look brillante
          %p Lleva en tus uñas los divertidos neones brillantes que hipnotizan. ¡Vive el color! 
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=H5pXnYZ9wz4'}
        .vidimg
          = image_tag('mobile/videos/8.jpg')
        .titulovideo
          %h4 Look Graffiti
          %p De arte urbano a chic, descubre el paso a paso para crear este look.
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=WAY7pHNV0rA'}
        .vidimg
          = image_tag('mobile/videos/9.jpg')
        .titulovideo
          %h4 Look Glitter
          %p Destellos iridiscentes que alborotan. ¡Brilla por dentro y por fuera!
    %li 
      %a{:href => 'http://www.youtube.com/watch?v=fNpKthbpWwQ'}
        .vidimg
          = image_tag('mobile/videos/10.jpg')
        .titulovideo
          %h4 Look Splatter
          %p Conoce el step by step para lograr el look Splatter. Visita nuestro Nail Studio y descubre los múltiples looks que puedes crear en él. 
