- provide :titulo, @categoria.nombre
%section#categoria-nueva
  = form_for @categoria, :url =>categorias_path do |f|
    %p
      = f.labelbrtext "Nombre", :nombre, :class => "big full"
    %p
      = f.select :parent_id, ([["Raíz", nil]] + nested_set_options(Categoria, @categoria) {|i, level| "#{'&nbsp;' * (level.to_i+1)}".html_safe + " #{i.nombre}" })
    - unless @categoria.cover_file_name.nil?
      %p
        = image_tag @categoria.cover.url(:mini)
    %p
      = f.labelbrtext 'Descripcion', :descripcion, :class => "big full"
    %p
      = f.file_field :cover
    %p
      = f.labelbrtext "URL cover slug", :urlslug, :class => "big full"
    %p.rgt
      = f.submit! "Guardar"
