- provide :titulo, @categoria.nombre
%section#categoria
  %ul.breadcrumbs.nolist.seplist.nobullet
    - if @categoria.ancestors and @categoria.ancestors.any?
      - @categoria.ancestors.each do |a|
        %li
          .inlineblock
            = link_to a.nombre, categoria_ver_path(a.slug)
    %li.highlighted
      .inlineblock
        = link_to @categoria.nombre, categoria_ver_path(@categoria.slug)
  .table.full
    .contizq.tcell.t25
      %h3
        =@categoria.nombre
      - if @subcategorias && @subcategorias.any?
        %ul
          - @subcategorias.each do |subcategoria|
            %li
              = link_to subcategoria.nombre, categoria_ver_path(subcategoria.slug)
      - else
        %ul
          - @categoria.root.descendants.each do |s|
            %li
              - if s == @categoria
                %p.selected
                  = s.nombre
                  %span (#{@productoscount})
              - else
                = link_to s.nombre, categoria_ver_path(s.slug)
                
    .contder.tcell.t75
      .contenedor
        - unless @categoria.cover_file_name.nil?
          - unless @categoria.urlslug.nil?
            = link_to image_tag(@categoria.cover.url(:normal)), producto_ver_path(@categoria.urlslug)
          - else
            = image_tag(@categoria.cover.url(:normal))
      .catalogo
        - if @productos and @productos.any?
          %ul.nobullet.nolist
            - @productos.each do |producto|
              %li
                = link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
                %h4 #{producto.marca.marca.upcase}
                %h4 #{link_to producto.nombre.split(' ').map {|w| w.capitalize }.join(' '), producto_ver_path(producto.slug)}
                %p #{number_to_currency producto.precio}
        .navegacion
          %span ver
          %select
            %option 20 por página
          %span acomodar por:
          %select
            %option más vendidos
          .numeros
            %span
              = paginate @productos, :window => 1, :left => 2, :right => 0
            %p
              =@productoscount
              artículos
  - if !@categoria.depth and !@categoria.productos.size.zero?
    .table.full
      .tcell.t20
      .tcell.t80
        .masproducto
          %h3 Más #{@categoria.nombre}
          %ul.nobullet
            - @categoria.categoria_producto.each do |categoria_producto|
              %li
                = link_to image_tag(categoria_producto.producto.foto.url(:chico)), producto_ver_path(categoria_producto.producto.slug)
                %h4
                  #{categoria_producto.producto.nombre}
                = simple_format categoria_producto.descripcion unless categoria_producto.descripcion.empty?
