!!! 5
%html
  :plain
    <!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>    <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>    <html lang="es" class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
  %head
    %meta{:charset => "UTF-8"}
    %meta{content: "Explora un mundo interminable de belleza con Sephora Collection. Maquillaje, accesorios y productos de skincare exclusivos para ti.", name: "description"}/
    %title Reto Makeover | Sephora México
    = stylesheet_link_tag :aniversario_catorce
    = csrf_meta_tags
    = include_gon
    = javascript_include_tag :aniversario_catorce
  %body
    #fb-root
    #header
      .content
        %a.logo{:href => root_path}
        %ul.navegacion
          %li
            =link_to "Makeovers", aniversario_catorce_makeovers_path
          %li
            =link_to "Big Prizes", aniversario_catorce_big_prices_path
          %li
            = link_to "Beauty Studio", "/minimakeovers?utm_source=RetoMakeover&utm_medium=Header&utm_campaign=BeautyStudio"
          %li
            = link_to "Estudio Sephora", "/lista_eventos?utm_source=RetoMakeover&utm_medium=Header&utm_campaign=EstudioSephora"
          %li
            = link_to "Mapa del evento", aniversario_catorce_event_map_path
    #wrapper
      .content
        = yield
        #seccion-4
          .linea_1
            %a.marca_1{:href => "http://sephora.com.mx/marca/algenist?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Algenist"}
            %a.marca_2{:href => "http://sephora.com.mx/marca/alterna?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Alterna"}
            %a.marca_3{:href => "http://sephora.com.mx/marca/amika?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Amika"}
            %a.marca_4{:href => "http://sephora.com.mx/marca/benefit?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Benefit"}
            %a.marca_5{:href => "http://sephora.com.mx/marca/biotherm-homme?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=BiothermHomme"}
            %a.marca_6{:href => "http://sephora.com.mx/marca/biotherm-homme?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=BiothermHomme"}
          .linea_2
            %a.marca_1{:href => "http://sephora.com.mx/marca/biotherm-homme?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=BiothermHomme"}
            %a.marca_2{:href => "http://sephora.com.mx/marca/clarisonic?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Clarisonic"}
            %a.marca_3{:href => "http://sephora.com.mx/marca/dr-brandt?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=DrBrandt"}
            %a.marca_4{:href => "http://sephora.com.mx/marca/formula-x?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=FormulaX"}
            %a.marca_5{:href => "http://sephora.com.mx/marca/fresh?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Fresh"}
            %a.marca_6{:href => "http://sephora.com.mx/marca/jack-black?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=JackBlack"}
          .linea_3
            %a.marca_1{:href => "http://sephora.com.mx/marca/paco-rabanne?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=PacoRabanne"}
            %a.marca_2{:href => "http://sephora.com.mx/marca/antonio-banderas?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Antonio%20Banderas"}
            %a.marca_3{:href => "http://sephora.com.mx/marca/murad?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Murad"}
            %a.marca_4{:href => "http://sephora.com.mx/marca/nars?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Nars"}
            %a.marca_5{:href => "http://sephora.com.mx/marca/sephora-collection?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=SephoraCollection"}
          .linea_4
            %a.marca_1{:href => "http://sephora.com.mx/marca/valentina?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Valentino"}
            %a.marca_2{:href => "http://sephora.com.mx/marca/shiseido?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Shiseido"}
            %a.marca_3{:href => "http://sephora.com.mx/marca/smashbox?utm_source=RetoMakeover&utm_medium=InterioresMarca&utm_campaign=Smashbox"}
            %a.marca_4{:href => "http://sephora.com.mx/marca/stila?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Stila"}
            %a.marca_5{:href => "http://sephora.com.mx/marca/shakira?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=Shakira"}
            %a.marca_6{:href => "http://sephora.com.mx/marca/peter-thomas-roth?utm_source=RetoMakeover&utm_medium=FooterMarcas&utm_campaign=PeterThomasRoth"}
          = image_tag("aniversario-catorce/home/marcas_logos.jpg")
    #footer
      .content
        %a.logo{:href => root_path}
        %ul.redes
          %li= link_to image_tag("aniversario-catorce/footer/fb.png"), "https://www.facebook.com/SephoraMX"
          %li= link_to image_tag("aniversario-catorce/footer/tw.png"), "https://twitter.com/sephoramx"
          %li= link_to image_tag("aniversario-catorce/footer/yt.png"), "https://www.youtube.com/SephoraMex"
          %li= link_to image_tag("aniversario-catorce/footer/in.png"), "http://instagram.com/sephoramx"
    :plain
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-11107291-7', 'auto');
        ga('send', 'pageview');
      </script>
    :plain
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=191335521070710&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>