= form_for @popup, :html => {:role => "form", :class=>"form"} do |f|
  .col-md-4
    .row
      .form-group.col-md-12
        = f.label "Valid From"
        %br/
        = f.date_select :valid_from, {default: Date.today}
        - unless @popup.errors[:valid_from].empty?
          .error.pull-right.small.text-danger
            =@popup.errors.messages[:valid_from].join(",")
      .form-group.col-md-12
        = f.label "Valid To"
        %br/
        = f.date_select :valid_to, {default: Date.today + 1.year}
        - unless @popup.errors[:valid_to].empty?
          .error.pull-right.small.text-danger
            =@popup.errors.messages[:valid_to].join(",")
      .form-group.col-md-12
        = f.label "Type"
        %br/
        = f.select(:popup_type, Popup::POPUP_TYPES.map{ |value| [ value, value ] }, {}, {class: "form-control"})
        - unless @popup.errors[:popup_type].empty?
          .error.pull-right.small.text-danger
            =@popup.errors.messages[:popup_type].join(",")
      .form-group.col-md-12
        = f.label "Imagen"
        = f.file_field :image
        - unless @popup.errors[:image].empty?
          .error.pull-right.small.text-danger
            =@popup.errors.messages[:image].join(",")
      .form-group.col-md-12
        = f.submit "Guardar", {class: "btn btn-info"}
