#vista{:pagina => "inicio"}
  .box.participar
    .cerrar
    %h3 CÓMO PARTICIPAR:  
    %p
      %strong - Ingresa a la app y añade la información solicitada: 
      %br
      E mail, nombre, tip de belleza y foto.
    %p
      %strong - Comparte tu mejor tip 
      de belleza en 140 caracteres, perfecto para iniciar un 2014 lleno de belleza y color.
    %p
      \- Añade una foto del tip
    %p
      %strong - Sé parte del primer Beauty Book 2014 de Sephora México
      %br
      que se compartirá en exclusiva con toda la comunidad de Sephora México en Enero 2014 y gana fabulosos obsequios.
    %p 
      \- Tienes hasta el 
      %strong 31 de Diciembre de 2013
      para participar.
  .box.premios
    .cerrar
    %h3 PREMIOS:  
    %p
      Los
      %strong 3 mejores tips
      ,seleccionados por un jurado especial de Sephora México
      %strong ganarán un Holiday Kit.
    %p 
      %small *El monto de los premios, dependerá de la cantidad de tips compartidos, entre mas tips, mas grandes seran los regalos.
  .bottones.howto
  .bottones.prices
  .slider_items.wishlist
    %button.left
    %button.right
    #wishlist
      #wishlist_cont
        - seccion_productos = @wishlist
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.holiday
    %button.left
    %button.right
    #holiday
      #holiday_cont
        - seccion_productos = @seccion1
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.roller
    %button.left
    %button.right
    #roller
      #roller_cont
        - seccion_productos = @seccion2
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.maquillaje
    %button.left
    %button.right
    #maquillaje
      #maquillaje_cont
        - seccion_productos = @seccion3
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.skincare
    %button.left
    %button.right
    #skincare
      #skincare_cont
        - seccion_productos = @seccion4
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.cabello
    %button.left
    %button.right
    #cabello
      #cabello_cont
        - seccion_productos = @seccion5
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.fra_mujer
    %button.left
    %button.right
    #fra_mujer
      #fra_mujer_cont
        - seccion_productos = @seccion6
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  .slider_items.fra_hombre
    %button.left
    %button.right
    #fra_hombre
      #fra_hombre_cont
        - seccion_productos = @seccion7
          - seccion_productos.each do | producto |
          %li
            .producto-imagen
              =link_to image_tag(producto.foto.url(:chico)), "/#"
            .producto-info
              %p
                = producto.marca.marca
              .producto-p
                %p
                  = producto.nombre_real
  #skincare
  #cabello
  #fra_mujer
  #fra_hombre