- provide :title, "Búsqueda"
%section#categoria
  %h2
    Búsqueda
  .table.full
    .contizq.tcell.t25
      %h3
        Resultados
      %ul
        %li
          <strong>Filtrar por precio</strong>
        %li
          =link_to "Precio alto", request.parameters.merge({:precio => "alto"}), :"data-set" => 'alto'
        %li
          =link_to "Precio bajo", request.parameters.merge({:precio => "bajo"}), :"data-set" => 'bajo'
        %li
          =link_to "Marca", request.parameters.merge({:ordenar => "marca"}), :"data-set" => 'marca'
        %li
        %li
          <strong>Filtrar por marca</strong>
        - if @marcas_para_categoria and @marcas_para_categoria.any?
          - @marcas_para_categoria.each do |r|
            - if r["id"].to_i.in? @marcas_seleccionadas || []
              %li.checked
                =link_to r["marca"], request.parameters.merge({ :page => nil, :marca => ((@marcas_seleccionadas || []) - [r["id"].to_i]).join(",") })
            - else  
              %li.unchecked
                =link_to r["marca"], request.parameters.merge({ :page => nil, :marca => ((@marcas_seleccionadas || []) + [r["id"].to_i]).join(",") })
        %li
          =link_to "Borrar filtros", request.parameters.merge({ :page => nil, :marca => ''})
    .contder.tcell.t75
      .catalogo
        .navegacion
          %span ver
          .navegaciones
            %p{:id => "trigger"}
              20 por página
              %span ▼
            %ul.nobullet.activo.verpor
              %li
                = link_to '20 por página', request.parameters.merge({:ver => 20}), :"data-set" => '20'
              %li
                = link_to '30 por página', request.parameters.merge({:ver => 30}), :"data-set" => '30'
              %li
                = link_to '50 por página', request.parameters.merge({:ver => 50}), :"data-set" => '50'
          %span acomodar por:
          .navegaciones
            %p{:id => "trigger2"}
              acomodar por
              %span ▼
            %ul.nobullet.activo.aco
              %li
                = link_to 'precio alto', request.parameters.merge({:precio => "alto"}), :"data-set" => 'alto'
              %li
                = link_to 'precio bajo', request.parameters.merge({:precio => "bajo"}), :"data-set" => 'bajo'
              %li
                =link_to "marca", request.parameters.merge({:ordenar => "marca"}), :"data-set" => 'marca'
          .numeros
            %span
              = paginate @productos, :window => 1, :left => 2, :right => 0
            %p
              =@productoscount
              artículos
        - if @productos and @productos.any?
          %ul.nobullet.nolist.catalogin
            - @productos.each do |producto|
              %li
                = link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
                %h4 #{producto.marca.marca}
                %h4 #{link_to producto.nombre, producto_ver_path(producto.slug)}
                %p #{number_to_currency producto.precio}
        .navegacion
          %span ver
          .navegaciones
            %p{:id => "trigger"}
              20 por página
              %span ▼
            %ul.nobullet.activo.verpor
              %li
                = link_to '20 por página', request.parameters.merge({:ver => 20}), :"data-set" => '20'
              %li
                = link_to '30 por página', request.parameters.merge({:ver => 30}), :"data-set" => '30'
              %li
                = link_to '50 por página', request.parameters.merge({:ver => 50}), :"data-set" => '50'
          %span acomodar por:
          .navegaciones
            %p{:id => "trigger2"}
              acomodar por
              %span ▼
            %ul.nobullet.activo.aco
              %li
                = link_to 'precio alto', request.parameters.merge({:precio => "alto"}), :"data-set" => 'alto'
              %li
                = link_to 'precio bajo', request.parameters.merge({:precio => "bajo"}), :"data-set" => 'bajo'
              %li
                =link_to "marca", request.parameters.merge({:ordenar => "marca"}), :"data-set" => 'marca'
          .numeros
            %span
              = paginate @productos, :window => 1, :left => 2, :right => 0
            %p
              =@productoscount
              artículos
