- provide :titulo, @producto.marca.marca + " - " + @producto.nombre.split(' ').map {|w| w.capitalize }.join(' ')
- provide(:url, url_for(:only_path => false))
- provide :imagen, @producto.foto.url(:normal)
- provide(:keywords, @producto.tags.map(&:name).join(', '))

:javascript
  schema_org = #{@producto.json_ld}

-unless @producto.descripcion.nil?
  - provide :descripcion, strip_tags(@producto.descripcion[0..160]+"...")

%section#producto
  - if current_usuario && current_usuario.rol != "usuario"
    = link_to "Editar", edit_producto_path(@producto.id)
  .table.full
    .product.tcell.t35
      =link_to(image_tag(@producto.foto.url(:normal), :id => "prod", :class => "imgproducto", :itemprop => 'image'), @producto.foto.url(:grande), :id => "prodlink")
      - if current_usuario
        - fav_class = (current_usuario) ? (current_usuario.productos.include?(@producto)) ? "hover animated infinite pulse" : "" : ""
        %div{:"data-upc" => @producto.upc, :class => "add_to_favs #{fav_class}"}
      -else
        %a.add_to_favs_link{:href => usuario_wishlist_path}
      :coffee
        $ ->
          fav = new Usuarios.Userlist()
          fav.add_to_userlist()
      %p.vistagrande
        =link_to "vista grande", @producto.foto.url(:grande), :id => "prodlink"
      .compartir
        .addthis_sharing_toolbox
        %p.small2
          *Precios pueden variar sin previo aviso, precios finales disponibles en tienda.
          %br
          **La venta on-line no está actualmente disponible en México; consulta disponibilidad en tiendas.
      .banners-animaciones
        = link_to(image_tag(@banner_producto.image(:producto)), @banner_producto.link, {:class => "img_cont"}) if @banner_producto.present?

    .derecha.tcell.t65{}
      .marca{:itemprop=>"brand", :itemscope=>"", :itemtype=>"http://schema.org/Brand"}
        - unless @producto.marca.logo_file_size.nil?
          = image_tag @producto.marca.logo.url(:grande), {:itemprop => "logo"}
        - if @producto.descuento_porcentual && @producto.descuento_porcentual > 0
          .pull-right
            .badge.badge-discount
              = "#{@producto.descuento_porcentual}%"
            .clearfix
          .clearfix
      .info
        %span.marcab
          =@producto.marca.marca
        %span.precio{:itemprop => "price"}
          -if @producto.tiene_descuento
            %span.precio_original
              #{number_to_currency(@producto.precio, :precision => 0)}
            %span
              &nbsp; - &nbsp;
            %span.tiene_descuento
              #{number_to_currency(@producto.descuento, :precision => 0)}
          -else
            #{number_to_currency(@producto.precio, :precision => 0)}
      .producto
        %p{:itemprop => "name"}
          =@producto.nombre
        - if @producto.sap && @producto.sap.length > 3 && !@producto.sap.empty?
          %p.sap
            SAP:
            %span{:itemprop => "sap"}
              =@producto.sap
      - if @producto.presentaciones and @producto.presentaciones.any?
        %ul.presentaciones.nolist.nobullet
          %li{:id => "prodclick"}
            = image_tag @producto.foto.url(:chico), :"data-normal" => @producto.foto.url(:normal), :"data-full" => @producto.foto.url(:grande), :"data-nombre" => @producto.nombre, :"data-precio" => number_to_currency(@producto.precio, :precision => 0)
          - @producto.presentaciones.each do |presentacion|
            %li{:id => "prodclick"}
              = image_tag presentacion.foto.url(:chico), :"data-normal" => presentacion.foto.url(:normal), :"data-full" => presentacion.foto.url(:grande), :"data-nombre" => presentacion.nombre, :"data-precio" => number_to_currency(presentacion.precio, :precision => 0)
      .descripcion
        #tabmenu
          %ul
            %li
              %a{:href => "#tab1"} DESCRIPCIÓN
            - unless @producto.ingredientes.nil? || @producto.ingredientes.size < 5
              %li
                %a{:href => "#tab2"} INGREDIENTES
            - unless @producto.usos.nil? || @producto.usos.size < 5
              %li
                %a{:href => "#tab3"} USOS
          .tabcontent
            - unless @producto.descripcion.nil? || @producto.descripcion.size < 5
              #tab1.tabdesc
                %div{:itemprop => "description"}
                  =@producto.descripcion.html_safe
            - unless @producto.ingredientes.nil? || @producto.ingredientes.size < 5
              #tab2.tabdesc
                %div{:itemprop => "description"}
                  =@producto.ingredientes.html_safe
            - unless @producto.usos.nil? || @producto.usos.size < 5
              #tab3.tabdesc
                %div{:itemprop => "description"}
                  =@producto.usos.html_safe
      - if @productos_relacionados and @productos_relacionados.any?
        .interesar
          %h3 Te puede interesar
          %ul.nobullet.nolist
            - @productos_relacionados.each do |producto|
              %li
                = link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
                %h5.prd_marca #{producto.marca.marca}
                %h4 #{link_to producto.nombre, producto_ver_path(producto.slug)}
                %p #{number_to_currency producto.precio, :precision => 0}
  %p.small
    *Precios pueden variar sin previo aviso, precios finales disponibles en tienda.
    %br
    **La venta on-line no está actualmente disponible en México; visita nuestras tiendas para buscar tus productos favoritos.
  #modalbox
    #modalcontent.table.full
      .pro.tcell.t50
        =image_tag @producto.foto.url(:grande), :class => "imgproducto"
      .tcell.t50
        .infor
          %span.marcab
            =@producto.marca.marca
          %p.producto
            =@producto.nombre
          %span.precio
            #{number_to_currency(@producto.precio, :precision => 0)}
          - if @producto.presentaciones and @producto.presentaciones.any?
            %ul.presentaciones.nolist.nobullet
              %li{:id => "proclick"}
                = image_tag @producto.foto.url(:chico), :"data-normal" => @producto.foto.url(:normal), :"data-full" => @producto.foto.url(:grande), :"data-nombre" => @producto.nombre.split(' ').map {|w| w.capitalize }.join(' '), :"data-precio" => number_to_currency(@producto.precio, :precision => 0)
              - @producto.presentaciones.each do |presentacion|
                %li{:id => "proclick"}
                  = image_tag presentacion.foto.url(:chico), :"data-normal" => presentacion.foto.url(:normal), :"data-full" => presentacion.foto.url(:grande), :"data-nombre" => presentacion.nombre.split(' ').map {|w| w.capitalize }.join(' '), :"data-precio" => number_to_currency(presentacion.precio, :precision => 0)
    .cerrar
      X
