- provide :title, @producto.nombre
%section#producto
  .table.full
    .tcell.t35
      =image_tag @producto.foto.url(:normal)
    .tcell.t65
      .marca
        - unless @producto.marca.logo_file_size.nil?
          = image_tag @producto.marca.logo.url(:grande)
      .info
        %span.marcab
          =@producto.marca.marca
        %span.precio
          $#{@producto.precio}
      .producto
        =@producto.nombre
      .descripcion
        %h3 DESCRIPCIÓN
        %span.borde
        %p
          =@producto.descripcion
        %p.mas
          ver más
          %span
            ▼
      - if @producto.presentaciones and @producto.presentaciones.any?
        %ul.nolist.nobullet
          - @producto.presentaciones.each do |presentacion|
            %li
              = image_tag presentacion.foto.url(:chico)
      - if @productos_relacionados and @productos_relacionados.any?
        .interesar
          %h3 te puede interesar
          %ul.nobullet.nolist
            - @productos_relacionados.each do |producto|
              %li
                = link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
                %h4 #{producto.marca.marca}
                %h4 #{link_to producto.nombre, producto_ver_path(producto.slug)}
                %p #{number_to_currency producto.precio}
