- p_url = (current_usuario) ? request.original_url+"/ver/"+current_usuario.slug : request.original_url
- provide :descripcion, "Mira mi wish list Sephora,  crea la tuya y dile al mundo que ¡los deseas!"
- provide :titulo, "Mis BeautyFavs"
- provide :imagen, image_url("usuarios/wishlist/share_fb.jpg")
- provide :url, p_url
- provide :extracto, "Mira mi wish list Sephora,  crea la tuya y dile al mundo que ¡los deseas!"

= render(:partial => "usuarios/modales/wishlist_aprende") if !@bandera
= render(:partial => "usuarios/modales/wishlist_faq")
#usuario_wishlist
	- banner = (Banner.wishlist.present?) ? Banner.wishlist.first.image(:wishlist) : "holiday/wishlist/01.jpg"
	= image_tag(banner)
	#regalos_sephora
		.banner-regalos
		.slider_items.wishlist
			%button.left
			%button.right
			#wishlist
				%ul#wishlist_cont
					- seccion_productos = @wishlist
					- seccion_productos.each do | producto |
						%li{:"data-upc" =>producto.upc}
							.remover
								&times;
							%a.producto-link{:href => "/producto/"+producto.slug, :target => "_blank"}
								.producto-imagen
									=image_tag(producto.foto.url(:chico), :class => "producto-img")
							%p.producto-marca
								%strong= producto.marca.marca
							%p.producto-nombre
								= producto.nombre_real
							%p.producto-precio
								%strong= "#{number_to_currency(producto.precio, :precision => (producto.precio.round == producto.precio) ? 0 : 2)}"
		.slider_items.userlist
			#userlist
				-if @usuario.count > 0
					%h1.text-center= image_tag("holiday/wishlist/02.png")
					%h3.text-center &nbsp;
					%ul#userlist_cont
						- seccion_productos = @usuario
						- seccion_productos.each do | producto |
							%li{:"data-upc" =>producto.upc}
								.remover
									&times;
								%a.producto-link{:href => "/producto/"+producto.slug, :target => "_blank"}
									.producto-imagen
										=image_tag(producto.foto.url(:chico), :class => "producto-img")
								%p.producto-marca
									%strong= producto.marca.marca
								%p.producto-nombre
									= producto.nombre_real
								%p.producto-precio
									%strong= "#{number_to_currency(producto.precio, :precision => (producto.precio.round == producto.precio) ? 0 : 2)}"
				-else
					.agrega_favs
						%h1.title My Wishlist
						%h4.subtitle Aun no tienes ningun beauty fav, sigue las siguientes instrucciones y comparte todos tus deseos.
						%p 1.- Selecciona tu producto favorito al dar clic en el ícono de corazón que se encuentra al lado
						%p 2.- Comparte tu lista con tus amigos y familiares para que conozcan todos tus deseos.
		-if @usuario.count > 0
			.share-me
				%h3 Ahora que la tienes ¡compartela!
				.rs.fb
				.rs.tw
				.clearfix
		.bought_me.text-center.preguntas_frecuentes
			- callcenter = (Banner.callcenter.present?) ? Banner.callcenter.first.image(:callcenter) : "holiday/wishlist/04.jpg"
			= image_tag(callcenter)
			.preguntas_frecuentes
:coffee
	$ ->
		uw = new Usuarios.Wishlist
		uw.initSlide("wishlist", 660)
		ul = new Usuarios.Userlist
		ul.userlist()
		ul.sharelist()

