- p_url = (current_usuario) ? request.original_url+"/ver/"+current_usuario.slug : request.original_url
- provide :descripcion, "Este es mi wishlist de belleza para esta navidad, y es ¡Fabuloso!"
- provide :titulo, "My Wishlist"
- provide :imagen, image_url("usuarios/wishlist/banner.jpg")
- provide :url, p_url
- provide :extracto, "¡Mi wishlist de belleza para esta navidad!"

= render(:partial => "usuarios/modales/wishlist_aprende") if !@bandera
#usuario_wishlist
	= image_tag("usuarios/wishlist/banner.jpg")
	#regalos_sephora
		.banner-regalos
		.slider_items.wishlist
			%button.left
			%button.right
			#wishlist
				%ul#wishlist_cont
					- seccion_productos = @wishlist
					- seccion_productos.each do | producto |
						%li{:"data-upc" =>producto.upc}
							.remover
								&times;
							%a.producto-link{:href => "/producto/"+producto.slug, :target => "_blank"}
								.producto-imagen
									=image_tag(producto.foto.url(:chico), :class => "producto-img")
							%p.producto-marca
								%strong= producto.marca.marca
							%p.producto-nombre
								= producto.nombre_real
							%p.producto-precio
								%strong= "$#{producto.precio}"
		.slider_items.userlist
			#userlist
				-if @usuario.count > 0
					%h1.text-center Esta es tu wishlist de belleza para esta navidad.
					%h3.text-center ¡Es Fabulosa!
					%ul#userlist_cont
						- seccion_productos = @usuario
						- seccion_productos.each do | producto |
							%li{:"data-upc" =>producto.upc}
								.remover
									&times;
								%a.producto-link{:href => "/producto/"+producto.slug, :target => "_blank"}
									.producto-imagen
										=image_tag(producto.foto.url(:chico), :class => "producto-img")
								%p.producto-marca
									%strong= producto.marca.marca
								%p.producto-nombre
									= producto.nombre_real
								%p.producto-precio
									%strong= "$#{producto.precio}"
				-else
					.agrega_favs
						%h1.title Mis Beauty Favs
						%h4.subtitle Aun no tienes ningun beauty fav, sigue las siguientes instrucciones y comparte todos tus deseos.
						%p 1.- Selecciona tu producto favorito al dar clic en el ícono de corazón que se encuentra al lado
						%p 2.- Comparte tu lista con tus amigos y familiares para que conozcan todos tus deseos.
		-if @usuario.count > 0
			.share-me
				%h3 Ahora que la tienes ¡compartela!
				.rs.fb
				.rs.tw
				.rs.gplus
				.rs.pinterest
				.clearfix
:coffee
	$ ->
		uw = new Usuarios.Wishlist
		uw.initSlide("wishlist", 660)
		ul = new Usuarios.Userlist
		ul.userlist()
		ul.sharelist()

