-if params[:tag]
  %p.tag
    Filtrado por tag 
    %strong= params[:tag]
    = link_to "Regresar", post_path

#sec_1
  - @posts.each do|post|
   
    - stats = stats(post.id);
    %div.post{:id=>"post-"+post.id.to_s}
      = link_to (image_tag post.imagen(:grande)), post_path(post)
      %h1 
        %span
          Hot Now
        = " - " + post.title
      %p
        = post.extracto.html_safe
      %ul.tools
        %li.fecha
          %i
          = "Fecha: "+post.created_at.to_date.to_s
        %li.coments
          %i
          = "Comentarios: "+ stats.comments.count.to_s
        %li.cat
          %i
          - if stats.categorias.count > 0
            Categoria: HotNow
          - else
            Categoria: Sephora
        %li.loves
          %i
          Loves: 1
      %ul.tags
        %li.tag
          %i
          Tags:
        %li Uno
        %li Dos
        %li Tres
        %li Cuatro
        %li Cinco
      = link_to "leer más...", post_path(post), {:class=>"leer_mas"}
#sec_2
  .widget
    %h2 Ultimos Tweets
    %a.twitter-timeline{"data-widget-id" => "414112878661074944", :height =>"300px", :href => "https://twitter.com/SephoraMX", :"data-chrome" => "noheader nofooter transparent", :"data-border-color" => "#FFFFFF"}
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


  .widget
    %h2 Facebook
    .fb-like-box{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "http://www.facebook.com/sephoramx", "data-show-border" => "false", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "210px", "data-height" => "80px"}

  .widget
    %h2 Instagram
    - @recientes.each do |data|
      = image_tag(data.images.thumbnail.url, :width => 100, :height => 100, :class => "insta_pic")
  .widget
    %h2 Las 5 más vistas

