-if params[:tag]
  %p.tag
    Filtrado por tag 
    %strong= params[:tag]
    = link_to "Regresar", post_path

#sec_1
  - @posts.each do|post|
   
    - stats = stats(post.id);
    %div.post{:id=>"post-"+post.id.to_s}
      = link_to (image_tag post.imagen(:grande)), post_path(post)
      %h1 
        %span
          Hot Now
        = " - " + post.title
      %p
        = post.extracto.html_safe
      %ul.tools
        %li.fecha
          %i
          = "Fecha: "+post.created_at.to_date.to_s
        %li.coments
          %i
          = "Comentarios: "+ stats.comments.count.to_s
        %li.cat
          %i
          - if stats.categorias.count > 0
            Categoria: HotNow
          - else
            Categoria: Sephora
        %li.loves
          %i
          Loves: 1
      %ul.tags
        %li.tag
          %i
          Tags:
        %li Uno
        %li Dos
        %li Tres
        %li Cuatro
        %li Cinco

#sec_2
  %h2 Ultimos Tweets
  %h2 Facebook
  %h2 Instagram
  %h2 Las 5 más vistas

