#view{:vista=>"show"}
  - stats = stats(@posts.id);
  %div.post{:id=>"post-"+@posts.id.to_s}
    = link_to (image_tag @posts.imagen(:grande), :class=>"post_img"), post_path(@post)
    %h1.post_title 
      %span
        Hot Now
      = " - " + @posts.title
    %p
      = @posts.content.html_safe
    %input{:type => "hidden", :class=>"post_extracto", :value=>@posts.extracto.html_safe} 
    .rank_love
      = render 'ranking'
    .compartir
      .share_button.ml_share
      .share_button.pt_share
      .share_button.gp_share
      .share_button.tw_share
      .share_button.fb_share
      .clearfix
    %ul.tools
      %li.fecha
        %i
        = "Fecha: "+@posts.created_at.to_date.to_s
      %li.coments
        %i
        = "Comentarios: "+ stats.comments.count.to_s
      %li.cat
        %i
        - if stats.categorias.count > 0
          Categoria: stats.categoria.categoria
        - else
          Categoria: Sephora
      %li.loves
        %i
        = stats.love.count
    %ul.tags
      %li.tag
        %i
        Tags:
      - stats.tags.each do |tag|
        %li
          =tag.name

    #disqus_thread
      = disqus_thread.html_safe
