#view{:vista=>"show"}
  - stats = stats(@posts.id);
  %div.post{:id=>"post-"+@posts.id.to_s}
    %input{:type => "hidden", :value=>@posts.title, :id=>"inp_title"}
    = link_to (image_tag @posts.imagen(:grande), :class=>"post_img"), post_path(@post)
    %h1.post_title 
      %span
        Hot Now
      = " - " + @posts.title
    %p
      = @posts.content.html_safe
    %input{:type => "hidden", :class=>"post_extracto", :value=>@posts.extracto.html_safe} 
    / .rank_love
    /   = render 'ranking'
    .compartir
      .share_button.ml_share
      .share_button.pt_share
      .share_button.gp_share
      .share_button.tw_share
      .share_button.fb_share
      .clearfix
    %ul.tools
      %li.fecha
        %i
        = "Fecha: "+@posts.created_at.to_date.to_s
      %li.coments
        %i
        = "Comentarios: "
        - disqus_comment_counts.html_safe
      %li.cat
        %i
        - if stats.categorias.count > 0
          Categoria: stats.categoria.categoria
        - else
          Categoria: Sephora
      / %li.loves
      /   %i
      /   = stats.love.count
    %ul.tags
      %li.tag
        %i
        Tags:
      - stats.tags.each do |tag|
        %li
          =tag.name

    #disqus_thread
      :javascript
        window.onload = function(){
          var title = document.getElementById("inp_title");
          var disqus_shortname = 'sephoramx'; // Required - Replace example with your forum shortname
          var disqus_url = document.location.href;
          var disqus_identifier = title.value;

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        }
