= form_for @animation, :html => {:role => "form", :class=>"form"} do |f|
  .col-md-4
    .row
      .form-group.col-md-12
        = f.label "Valid From"
        %br/
        = f.date_select :valid_from, {default: Date.today}
        - unless @animation.errors[:valid_from].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:valid_from].join(",")
      .form-group.col-md-12
        = f.label "Valid To"
        %br/
        = f.date_select :valid_to, {default: Date.today + 1.year}
        - unless @animation.errors[:valid_to].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:valid_to].join(",")
      //Header
      .form-group.col-md-12
        = f.label "Mini Header Link"
        %br/
        = f.text_field :header_to, {class: "form-control"}
        - unless @animation.errors[:header_to].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:header_to].join(",")
      .form-group.col-md-12
        = f.label "Mini Header"
        = f.file_field :header
        - unless @animation.errors[:header].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:header].join(",")
      .form-group.col-md-12
        = f.label "Left Banner"
        = f.file_field :left
        - unless @animation.errors[:left].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:left].join(",")
      .form-group.col-md-12
        = f.label "Right Banner"
        = f.file_field :right
        - unless @animation.errors[:right].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:right].join(",")

      .form-group.col-md-12
        = f.label "Sephora Picks"
        = f.file_field :sephora_picks
        - unless @animation.errors[:sephora_picks].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:sephora_picks].join(",")

      .form-group.col-md-12
        = f.label "Is New"
        = f.file_field :hot_now
        - unless @animation.errors[:hot_now].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:hot_now].join(",")

      .form-group.col-md-12
        = f.label "Must Have"
        = f.file_field :must_have
        - unless @animation.errors[:must_have].empty?
          .error.pull-right.small.text-danger
            =@animation.errors.messages[:must_have].join(",")
      
      .form-group.col-md-12
        = f.submit "Guardar", {class: "btn btn-info"}
