.row-fluid
  .col-xs-12.col-md-12.col-lg-12
    = form_for @event, :html => {:role => "form", :class=>"form"} do |f|
      .form-group
        = f.label :photo, "photo"
        = f.file_field :photo
      .form-group
        = f.label :title, "title"
        = f.text_field :title, {:class=>"form-control"}
      .form-group
        = f.label :description, "description"
        = f.text_field :description, {:class=>"form-control"}
      %h4 Tiendas donde estara disponible.
      .jumbotron
        - @tiendas.each do |t|
          - she = StoreHasEvent.where(:tienda_id => t.id, :event_id => @event.id).first
          .form-group
            .row
              .col-lg-6
                -if she
                  %input{:type => "hidden", :name => "tienda[][id]", :value => she.id}
                %input{:type => "hidden", :name => "tienda[][tienda_id]", :value => t.id}
                .input-group
                  %span.input-group-addon
                    %input{:type => "checkbox", :name => "tienda[][activo]", :checked => (she != nil)? true : false}
                    =t.nombre
                  %input.form-control{:type => "text", :name => "tienda[][date]", :placeholder => "ejm: Septiembre 3, 4, 5", :value =>(she != nil)? she.dates : nil}
              .col-lg-6
                .input-group
                  %span.input-group-addon
                    Link de Reservacion
                  %input.form-control{:type => "text", :name => "tienda[][link]", :placeholder => "http://www.whoho.com/evento/sephora", :value =>(she != nil)? she.link : nil}
      .btn-group.text-center
        = f.submit :class => "btn btn-black"
        %a#btnSubmit.btn.btn-danger{:href=>admin_events_path} Cancelar
    .clearfix