!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Sephora Lover Admin"
    = stylesheet_link_tag "administracion"
    = csrf_meta_tag
    
  %body
    =link_to image_tag('logo.gif'), "#", {:class=>"logo"}
    #header
      %ul.menu
        %li=link_to 'Landings', admin_landings_path
      .clear
    = yield
    = javascript_include_tag "administracion"
