!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Sephora Lover Admin"
    = javascript_include_tag :jquery
    = javascript_include_tag :"jquery-ui"
    = javascript_include_tag :administracion

    = stylesheet_link_tag "administracion"
    = csrf_meta_tag

  %body
    .site-container
      .site-pusher
        %header.header
          %a#header__icon.header__icon{:href => "#"}
          =link_to "Sephora Lover", "#", {class: "header__logo"}
          %nav.menu
            =link_to 'Animaciones', admin_animations_path
            =link_to 'Banners', admin_banners_path
            =link_to 'Brand Landing', admin_landings_path
            =link_to 'Carruseles', admin_animation_carousels_path
            =link_to 'Events', admin_events_path
            =link_to 'Landings', admin_campaing_landings_path
            =link_to 'Store Events', admin_store_events_path
            =link_to 'Descontinuar', admin_descontinuados_path
            =link_to 'Precios', admin_prices_path
            =link_to 'Popups', admin_popups_path
            =link_to 'Subir CSV', admin_files_path
          .clear
        .site-content
          .container
            = yield
        #site-cache.site-cache