!!! 5
/[if lt IE 7]
  %html(lang="en-us" class="no-js ie6")
/[if IE 7]
  %html(lang="en-us" class="no-js ie7")
/[if IE 8]
  %html(lang="en-us" class="no-js ie8")
/[if (gt IE 9)|!(IE)]
  %html(lang="en-us" class="no-js")
%head
  %title= @title || 'Sephora'
  %meta(charset="utf-8")
  %meta(http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %meta(name="description" content="Productos cosméticos, maquillaje, fragancias, accesorios y todo para la belleza.")
  %link(rel="shortcut icon" href="/assets/favicon.ico")
  = stylesheet_link_tag "application"
  = javascript_include_tag :modernizr
  = csrf_meta_tags
  -# = yield :head
%body
  = yield
  / -if ENV['GOOGLE_ANALYTICS_KEY']
    / :javascript
    /   window._gaq = [['_setAccount','#{ENV['GOOGLE_ANALYTICS_KEY']}'],['_trackPageview'],['_trackPageLoadTime']];
    /   Modernizr.load({
    /     load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    /   });
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11107291-7', 'sephora.com.mx');
    ga('send', 'pageview');
  = javascript_include_tag "application"
  
  =yield :javascripts
  /[if lt IE 7]
    %script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
    :javascript
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
