!!! 5
:plain
  <!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>    <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>    <html lang="es" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "UTF-8"}
  - if current_page?('/')
    %title Sephora México
    %meta{:content => "Sephora México", :property => "og:title"}
  -else
    %title
      #{"#{yield(:titulo)} | " if content_for?(:titulo)} Sephora
    %meta{:content => "#{yield(:titulo)} | Sephora México", :property => "og:title"}
  %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
  %meta{:name => "description", :content => yield(:descripcion)}
  %meta{:content => yield(:url), :property => "og:url"}
  %meta{:content => "Sephora México", :property => "og:site_name"}
  %meta{:content => yield(:imagen), :property => "og:image"}
  = javascript_include_tag :modernizr
  = stylesheet_link_tag :application
  = csrf_meta_tags
  -if ENV['GOOGLE_ANALYTICS_KEY']
    :javascript
      window._gaq = [['_setAccount','#{ENV['GOOGLE_ANALYTICS_KEY']}'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
  %meta{:content => "qCft4n7tHfODiCl-UWgEd_uquba_MLlevA9txPjkYkk", :name => "google-site-verification"}
%body
  #head-sup
  #wrap
    %header#encabezado
      #contenme
        #search
          = form_for :buscar, { :url => busqueda_path, :method => :get } do |f|
            %p.nowrap
              .table
                .tcell.t95
                  = f.text_field :q, :class => 'input', :placeholder  => "BUSCAR", :value => "#{(params[:buscar][:q]) unless params[:buscar].nil?}"
                .tcell.t5
                  = f.submit '', :class => 'submit'
        %a{ :href => "/" }
          #logo
      %nav#menu
        %ul.nobullet.nolist
          %li
            %a{:href => "/categoria/maquillaje"}
              Maquillaje
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/rostro"} Rostro
              %li
                %a{:href => "/categoria/brochas-y-aplicadores"} Brochas y Aplicadores
              %li
                %a{:href => "/categoria/paletas-y-sets"} Paletas y Sets
              %li
                %a{:href => "/categoria/ojos"} Ojos
              %li
                %a{:href => "/categoria/labios"} Labios
              %li
                %a{:href => "/categoria/unas"} Uñas
              %li
                %a{:href => "/categoria/cuerpo"} Cuerpo
          %li
            %a{:href => "/categoria/skincare"}
              Skincare
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/lip-balm-y-tratamientos"} Bálsamo Labial y Tratamientos
              %li
                %a{:href => "/categoria/bronceadores-y-autobronceadores"} Bronceadores y Autobronceadores
              %li
                %a{:href => "/categoria/suplementos"} Suplemento
              %li
                %a{:href => "/categoria/mascarillas-y-exfoliantes"} Mascarillas y Exfoliantes
              %li
                %a{:href => "/categoria/sets-de-inicio-y-regimenes"} Sets de Inicio y Regímenes
              %li
                %a{:href => "/categoria/limpiadores"} Limpiadores
              %li
                %a{:href => "/categoria/hidratantes"} Hidratantes
              %li
                %a{:href => "/categoria/tonicos-y-rociadores"} Tónicos y Rociadores
              %li
                %a{:href => "/categoria/tratamientos-para-el-rostro"} Tratamientos para el Rostro
              %li
                %a{:href => "/categoria/protector-solar"} Protector Solar
              %li
                %a{:href => "/categoria/cremas-para-ojos"} Cremas para Ojos
              %li
                %a{:href => "/categoria/removedor-de-vellos"} Removedor de Vellos
              %li
                %a{:href => "/categoria/bbcream"} BB Cream
          %li
            %a{:href => "/categoria/fragancias"}
              Fragancias
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/obsequios-y-sets"} Obsequios y Sets
              %li
                %a{:href => "/categoria/hombre"} Hombre
              %li
                %a{:href => "/categoria/mujer"} Mujer
              %li
                %a{:href => "/categoria/rollerball"} Rollerball
          %li
            %a{:href => "/categoria/bano-y-cuerpo"}
              Baño / Cuerpo
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/scrubs-y-exfolianes"} Exfoliantes
              %li
                %a{:href => "/categoria/obsequios-y-sets-6"} Obsequios y Sets
              %li
                %a{:href => "/categoria/manos-y-pies"} Manos y Pies
              %li
                %a{:href => "/categoria/celulitis-y-estrias"} Celulitis y Estrías
              %li
                %a{:href => "/categoria/hidratantes-bano-cuerpo"} Hidratantes
              %li
                %a{:href => "/categoria/limpiadores-bano-y-cuerpo"} Limpiadores Baño y Cuerpo
          %li
            %a{:href => "/categoria/cabello"}
              Cabello
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/shampoo"} Shampoo
              %li
                %a{:href => "/categoria/acondicionador"} Acondicionador
              %li
                %a{:href => "/categoria/tratamientos-para-el-cabello"} Tratamientos para el Cabello
              %li
                %a{:href => "/categoria/productos-para-styling"} Productos para Styling
              %li
                %a{:href => "/categoria/herramientas"} Herramientas
              %li
                %a{:href => "/categoria/accesorios"} Accesorios
              %li
                %a{:href => "/categoria/cepillos-y-peines"} Cepillos y Peines
          %li
            %a{:href => "/categoria/categoria-general"}
              Accesorios
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/bolsos-y-estuches"} Bolsos y Estuches
              %li
                %a{:href => "/categoria/brochas-y-aplicadores-maquillaje"} Brochas y Aplicadores
              %li
                %a{:href => "/categoria/herramientas-de-spa"} Herramientas de Spa
              %li
                %a{:href => "/categoria/manicure-y-pedicure"} Manicure y Pedicure
              %li
                %a{:href => "/categoria/pinzas-y-accesorios-de-cejas"} Pinzas y Accesorios de cejas
              %li
                %a{:href => "/categoria/rizadores-de-pestanas"} Rizadores de Pestañas
              %li
                %a{:href => "/categoria/sacapuntas"} Sacapuntas
              %li
                %a{:href => "/categoria/espejos"} Espejos
          %li
            %a{:href => "/categoria/hombres"}
              Hombres
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/obsequios-y-sets-5"} Obsequios y Sets
              %li
                %a{:href => "/categoria/afeitado"} Afeitado
              %li
                %a{:href => "/categoria/humectantes-y-tratamientos"} Humectantes y Tratamientos
              %li
                %a{:href => "/categoria/cremas-de-ojos"} Cremas de Ojos
              %li
                %a{:href => "/categoria/cuerpo-y-ducha"} Cuerpo y Ducha
          %li
            %a{:href => "/obsequios"}
              Obsequios
          %li
            %a{:href => "/soluciones"}
              Soluciones
          %li
            %a{:href => "/tu-lista"}
              Tu Lista
          .select
            - if @marcas_all and @marcas_all.any?
              .trigger
                Marcas 
                %span.icon 
              %select#marcas
                %option
                  MARCAS
                - @marcas_all.each do |marca|
                  %option{ :value => "/marca/#{marca.slug}" }
                    = marca.marca

    = yield

    #footer
      #social
        %ul.nolist
          %li.noborder
            %a#fb{:href => "http://www.facebook.com/SephoraMX", :target => "_blank"}
            %a{:href => "http://www.facebook.com/SephoraMX", :target => "_blank"}
              %p.social Facebook
              %p.leyenda PROMOCIONES
              %p.leyenda2 EXCLUSIVAS
              %p.leyenda3
                para nuestros fans
                %span
                  %a.flecha{:href => "http://www.facebook.com/SephoraMX", :target => "_blank"}
                    ►
          %li
            %a#pn{:href => "http://pinterest.com/sephoramx/", :target => "_blank"}
            %a{:href => "http://pinterest.com/sephoramx/", :target => "_blank"}
              %p.social Pinterest
              %p.leyenda INSPÍRATE
              %p.leyenda2 con NUESTROS
              %p.leyenda3
                boards
                %span
                  %a.flecha{:href => "http://pinterest.com/sephoramx/", :target => "_blank"}
                    ►
          %li
            %a#tw{:href => "https://twitter.com/SephoraMX", :target => "_blank"}
            %a{:href => "https://twitter.com/SephoraMX", :target => "_blank"}
              %p.social Twitter
              %p.leyenda SIGUE
              %p.leyenda2 NUESTRAS BEAUTY
              %p.leyenda3
                news al intante
                %span
                  %a.flecha{:href => "https://twitter.com/SephoraMX", :target => "_blank"}
                    ►
          %li
            %a#yt{:href => "http://www.youtube.com/SephoraMex", :target => "_blank"}
            %a{:href => "http://www.youtube.com/SephoraMex", :target => "_blank"}
              %p.social YouTube
              %p.leyenda
                MIRA
                %span NUESTRAS
              %p.leyenda2 últimas tendencias
              %p.leyenda3
                en nuestro canal
                %span
                  %a.flecha{:href => "http://www.youtube.com/SephoraMex", :target => "_blank"}
                    ►

      #sus-cata
        .table.full
          .tcell.t37.suscripcion
            %span#mail
            %p
              ENTÉRATE DE EVENTOS Y PROMOCIONES EXCLUSIVAS
              = form_for Suscripcion.new, :url => "/suscripcion#suscripcion" do |f|
                .table
                  .tcell.t95
                    = f.email_field :email, :placeholder => "E-Mail", :class => "texto"
                  .tcell.t5
                    = image_submit_tag("flecha_internacional.png")
          .tcell.t33
            %p.pad2
              NUESTRAS TIENDAS
            .footer-boton
              %a{:href => '/tiendas'} Descúbrelas
          .tcell.t30
            %p.pad
              DESCARGA<br />EL CATÁLOGO ONLINE
            .footer-boton
              %a{:href => 'http://www.pollock.mx/Flipbook/index.html', :target => '_blank'} Descarga aquí
      #sephora-en
        %p
          SEPHORA en:
          %a#bg{:href => "http://sephoramexico.blogspot.mx/", :target => "_blank"}
          %a#gp{:href => "https://plus.google.com/109652284724347281502/posts", :target => "_blank"}
      #footin
        #links
          %ul.nobullet.nolist.seplist
            %li Contacto
            %li Mapa del sitio
            %li
              =link_to "Poĺítica de privacidad", politicas_path
            %li Empleo
        #internacional
          %a.middle{:href => 'http://www.sephora.com/international/international.jsp', :target => '_blank'} Internacional
          %span.icon

  = javascript_include_tag :application
  %script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
