!!! 5
:plain
  <!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>    <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>    <html lang="es" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "UTF-8"}

  / ## -- Meta
  - if current_page?('/')
    %title Sephora México
    %meta{:name => "title", :content => "Sephora México"}
  -else
    %title
      #{"#{yield(:titulo)} | " if content_for?(:titulo)} Sephora
    %meta{:name => "title", :content => "#{yield(:titulo)} | Sephora México"}
  %meta{:name => "description", :content => yield(:descripcion)}
  %meta{:name => "keywords", :content => yield(:keywords)}
  %meta{:name => "robots", :content => "index, nofollow"}

  / ## -- OG
  %meta{:property => "og:title", :content => yield(:titulo)}
  %meta{:property => "og:description", :content => yield(:descripcion)}
  %meta{:property => "og:image", :content => yield(:imagen)}
  %meta{:property => "og:url", :content => yield(:url)}
  %meta{:property => "og:site_name", :content => yield(:titulo)}

  / ## -- FC
  %meta{:name => "DC.Title", :content => yield(:titulo)}
  %meta{:name => "DC.Creator", :content => "Sephora México"}
  %meta{:name => "DC.Subject", :content => yield(:extracto)}
  %meta{:name => "DC.Description", :content => yield(:descripcion)}
  %meta{:name => "DC.Publisher", :content => "Sephora México"}
  %meta{:name => "DC.Contributor", :content => "Out of the Box"}
  %meta{:name => "DC.Type", :content => "HTML"}
  %meta{:name => "DC.Format", :content => "HTML"}
  %meta{:name => "DC.Identifier", :content => "Sephora"}
  %meta{:name => "DC.Language", :content => "ES"}/


  = javascript_include_tag :modernizr
  = javascript_include_tag :jquery
  = javascript_include_tag :paginas
  = javascript_include_tag :usuarios
  = stylesheet_link_tag :application
  = csrf_meta_tags
  %meta{:content => "qCft4n7tHfODiCl-UWgEd_uquba_MLlevA9txPjkYkk", :name => "google-site-verification"}
%body
  #head-sup
    .contenedor
      %a.logo{:href=>root_path}
      .search
        = form_for :buscar, { :url => busqueda_path, :method => :get } do |f|
          = f.submit '', :class => 'submit', :id => 'realsubmit'
          %a.submit#opensearch{:href=>"#"}
          %a#closesubmit{:href=>"#"} X
          = f.text_field :q, :class => 'input', :placeholder  => "Buscar", :value => "", :id => "searchbox"
      .sociales
        %a.yt{:href=>'http://www.youtube.com/SephoraMex', target: 'blank', title:"Sephora en Youtube"}
        %a.fb{:href=>'https://www.facebook.com/SephoraMX', target: 'blank', title:"Sephora en Facebook"}
        %a.tw{:href=>'http://twitter.com/SephoraMX', target: 'blank', title:"Sephora en Twitter"}
        %a.it{:href=>'http://instagram.com/sephoramx', target: 'blank', title:"Sephora en Instagram"}
        %a.pi{:href=>'http://www.pinterest.com/sephoramx', target: 'blank', title:"Sephora en Pinterest"}
  #wrap
    = render(:partial => "layouts/header_nav")
    = yield
    = render(:partial => "layouts/footer_nav")
  = javascript_include_tag :application
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11107291-7', 'auto');
    ga('send', 'pageview');
  %script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}