!!! 5
:plain
  <!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>    <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>    <html lang="es" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "UTF-8"}
  %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}/
  %title
    #{"#{yield(:titulo)} | " if content_for?(:titulo)} Sephora
  = javascript_include_tag :modernizr
  = stylesheet_link_tag :application
  = csrf_meta_tags
%body
  #head-sup.table.full
  #wrap
    %header#encabezado
      #contenme
        #search
          = form_for :buscar, { :url => busqueda_path, :method => :get } do |f|
            %p.nowrap
              = f.text_field :q, :class => 'input'
              = f.submit '', :class => 'submit'
        %a{ :href => "/" }
          #logo
      %nav#menu
        %ul.nobullet.nolist
          %li
            %a{ :href => "/categoria/maquillaje"}
              Maquillaje
          %li
            %a{ :href => "/categoria/skincare"}
              Skincare
          %li
            %a{ :href => "/categoria/fragancias"}
              Fragancias
          %li
            %a{ :href => "/categoria/bano-y-cuerpo"}
              Baño / Cuerpo
          %li
            %a{ :href => "/categoria/cabello"}
              Cabello
          %li
            %a{ :href => "/categoria/categoria-general"}
              Accesorios
          %li
            %a{ :href => "/categoria/hombres"}
              Hombres
          %li
            %a{ :href => "/obsequios"}
              Obsequios
          %li
            %a{ :href => "/soluciones"}
              Soluciones
          %li
            %a{ :href => "/tu-lista"}
              Tu Lista
          -#%li
          -#  %a{ :href => "/tendencias"}
          -#    Tendencias
          %li.select
            - if @marcas_all and @marcas_all.any?
              .trigger
                Marcas 
                %span.icon 
              %select#marcas
                %option
                  MARCAS
                - @marcas_all.each do |marca|
                  %option{ :value => "/marca/#{marca.slug}" }
                    = marca.marca.upcase

    = yield

    #footer
      #social
        %ul.nolist
          %li.noborder
            %a#fb{:href => "http://www.facebook.com/SephoraMX", :target => "_blank"}
            %p.social Facebook
            %p.leyenda PROMOCIONES
            %p.leyenda2 EXCLUSIVAS
            %p.leyenda3
              para nuestros fans
              %span
                %a.flecha{:href => "http://www.facebook.com/SephoraMX", :target => "_blank"}
                  ►
          %li
            %a#pn{:href => "http://pinterest.com/sephoramx/", :target => "_blank"}
            %p.social Pinterest
            %p.leyenda INSPÍRATE
            %p.leyenda2 con NUESTROS
            %p.leyenda3
              boards
              %span
                %a.flecha{:href => "http://pinterest.com/sephoramx/", :target => "_blank"}
                  ►
          %li
            %a#tw{:href => "https://twitter.com/SephoraMX", :target => "_blank"}
            %p.social Twitter
            %p.leyenda SIGUE
            %p.leyenda2 NUESTRAS BEAUTY
            %p.leyenda3
              news al intante
              %span
                %a.flecha{:href => "https://twitter.com/SephoraMX", :target => "_blank"}
                  ►
          %li
            %a#yt{:href => "http://www.youtube.com/SephoraMex", :target => "_blank"}
            %p.social YouTube
            %p.leyenda
              MIRA
              %span NUESTRAS
            %p.leyenda2 últimas tendencias
            %p.leyenda3
              en nuestro canal
              %span
                %a.flecha{:href => "http://www.youtube.com/SephoraMex", :target => "_blank"}
                  ►

      #sus-cata
        .table.full
          .tcell.t33
            %span#mail
            %p
              SUSCRÍBETE Y RECIBE LOS SEPHORA HIGHLIGHTS
            .footer-boton 
              %a{:href => '/'} Registrar datos
          .tcell.t33
            %p.pad2
              NUESTRAS TIENDAS
            .footer-boton
              %a{:href => '/tiendas'} Descúbrelas
          .tcell.t33
            %p.pad
              DESCARGA<br />EL CATÁLOGO ONLINE
            .footer-boton
              %a{:href => '/'} Descarga aquí
      #sephora-en
        %p
          SEPHORA en:
          %a#bg{:href => "http://sephoramexico.blogspot.mx/", :target => "_blank"}
          %a#gp{:href => "https://plus.google.com/109652284724347281502/posts", :target => "_blank"}
      #footin
        #links
          %ul.nobullet.nolist.seplist
            %li Contacto
            %li Mapa del sitio
            %li Poĺítica de privacidad
            %li Empleo
        #internacional

  = javascript_include_tag :application
