!!! 5
:plain
  <!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>    <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>    <html lang="es" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "UTF-8"}
  - if current_page?('/')
    %title Sephora México
    %meta{:content => "Sephora México", :property => "og:title"}
    %meta{:name => "robots", :content => "noindex"}
  -else
    %title
      #{"#{yield(:titulo)} | " if content_for?(:titulo)} Sephora
    %meta{:content => "#{yield(:titulo)} | Sephora México", :property => "og:title"}
  %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
  %meta{:name => "description", :content => yield(:descripcion)}
  %meta{:content => yield(:url), :property => "og:url"}
  %meta{:content => "Sephora México", :property => "og:site_name"}
  %meta{:content => yield(:imagen), :property => "og:image"}
  = stylesheet_link_tag "posts"
  = csrf_meta_tags
  %meta{:content => "qCft4n7tHfODiCl-UWgEd_uquba_MLlevA9txPjkYkk", :name => "google-site-verification"}
%body
  #fb-root
  #head-sup
    .contenedor
      %a.logo{:href=>root_path}
      .search
        = form_for :buscar, { :url => busqueda_path, :method => :get } do |f|
          = f.submit '', :class => 'submit', :id => 'realsubmit'
          %a.submit#opensearch{:href=>"#"}
          %a#closesubmit{:href=>"#"} X
          = f.text_field :q, :class => 'input', :placeholder  => "Buscar", :value => "", :id => "searchbox"
      .sociales
        %a.yt{:href=>'http://www.youtube.com/SephoraMex', target: 'blank', title:"Sephora en Youtube"}
        %a.fb{:href=>'https://www.facebook.com/SephoraMX', target: 'blank', title:"Sephora en Facebook"}
        %a.tw{:href=>'http://twitter.com/SephoraMX', target: 'blank', title:"Sephora en Twitter"}
  #wrap
    %header#encabezado
      #contenme
        #search
          = form_for :buscar, { :url => busqueda_path, :method => :get } do |f|
            %p.nowrap
              .table
                .tcell.t95
                  = f.text_field :q, :class => 'input', :placeholder  => "BUSCAR", :value => "#{(params[:buscar][:q]) unless params[:buscar].nil?}"
                .tcell.t5
                  = f.submit '', :class => 'submit'
        %a{ :href => "/" }
          #logo.holiday
      %nav#menu
        %ul.nobullet.nolist.allmenu
          %li
            %a{:href => "/categoria/maquillaje"}
              Maquillaje
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/rostro"} Rostro
              %li
                %a{:href => "/categoria/brochas-y-aplicadores"} Brochas y Aplicadores
              %li
                %a{:href => "/categoria/paletas-y-sets"} Paletas y Sets
              %li
                %a{:href => "/categoria/ojos"} Ojos
              %li
                %a{:href => "/categoria/labios"} Labios
              %li
                %a{:href => "/categoria/unas"} Uñas
              %li
                %a{:href => "/categoria/cuerpo"} Cuerpo
          %li
            %a{:href => "/categoria/skincare"}
              Skincare
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/lip-balm-y-tratamientos"} Bálsamo Labial y Tratamientos
              %li
                %a{:href => "/categoria/bronceadores-y-autobronceadores"} Bronceadores y Autobronceadores
              %li
                %a{:href => "/categoria/suplementos"} Suplemento
              %li
                %a{:href => "/categoria/mascarillas-y-exfoliantes"} Mascarillas y Exfoliantes
              %li
                %a{:href => "/categoria/sets-de-inicio-y-regimenes"} Sets de Inicio y Regímenes
              %li
                %a{:href => "/categoria/limpiadores"} Limpiadores
              %li
                %a{:href => "/categoria/hidratantes"} Hidratantes
              %li
                %a{:href => "/categoria/tonicos-y-rociadores"} Tónicos y Rociadores
              %li
                %a{:href => "/categoria/tratamientos-para-el-rostro"} Tratamientos para el Rostro
              %li
                %a{:href => "/categoria/protector-solar"} Protector Solar
              %li
                %a{:href => "/categoria/cremas-para-ojos"} Cremas para Ojos
              %li
                %a{:href => "/categoria/removedor-de-vellos"} Removedor de Vellos
              %li
                %a{:href => "/categoria/bbcream"} BB & CC Creams
              %li
                %a{:href => "/categoria/aceites"} Aceites
          %li
            %a{:href => "/categoria/fragancias"}
              Fragancias
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/obsequios-y-sets"} Obsequios y Sets
              %li
                %a{:href => "/categoria/hombre"} Hombre
              %li
                %a{:href => "/categoria/mujer"} Mujer
              %li
                %a{:href => "/categoria/rollerball"} Rollerball
          %li
            %a{:href => "/categoria/bano-y-cuerpo"}
              Baño / Cuerpo
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/scrubs-y-exfolianes"} Exfoliantes
              %li
                %a{:href => "/categoria/obsequios-y-sets-6"} Obsequios y Sets
              %li
                %a{:href => "/categoria/manos-y-pies"} Manos y Pies
              %li
                %a{:href => "/categoria/celulitis-y-estrias"} Celulitis y Estrías
              %li
                %a{:href => "/categoria/hidratantes-bano-cuerpo"} Hidratantes
              %li
                %a{:href => "/categoria/limpiadores-bano-y-cuerpo"} Limpiadores Baño y Cuerpo
          %li
            %a{:href => "/categoria/cabello"}
              Cabello
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/shampoo"} Shampoo
              %li
                %a{:href => "/categoria/acondicionador"} Acondicionador
              %li
                %a{:href => "/categoria/tratamientos-para-el-cabello"} Tratamientos para el Cabello
              %li
                %a{:href => "/categoria/productos-para-styling"} Productos para Styling
              %li
                %a{:href => "/categoria/herramientas"} Herramientas
              %li
                %a{:href => "/categoria/accesorios"} Accesorios
              %li
                %a{:href => "/categoria/cepillos-y-peines"} Cepillos y Peines
          %li
            %a{:href => "/categoria/categoria-general"}
              Accesorios
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/bolsos-y-estuches"} Bolsos y Estuches
              %li
                %a{:href => "/categoria/brochas-y-aplicadores-maquillaje"} Brochas y Aplicadores
              %li
                %a{:href => "/categoria/herramientas-de-spa"} Herramientas de Spa
              %li
                %a{:href => "/categoria/manicure-y-pedicure"} Manicure y Pedicure
              %li
                %a{:href => "/categoria/pinzas-y-accesorios-de-cejas"} Pinzas y Accesorios de cejas
              %li
                %a{:href => "/categoria/rizadores-de-pestanas"} Rizadores de Pestañas
              %li
                %a{:href => "/categoria/sacapuntas"} Sacapuntas
              %li
                %a{:href => "/categoria/espejos"} Espejos
          %li
            %a{:href => "/categoria/hombres"}
              Hombres
            %ul.nobullet.submenu
              %li
                %a{:href => "/categoria/obsequios-y-sets-5"} Obsequios y Sets
              %li
                %a{:href => "/categoria/afeitado"} Afeitado
              %li
                %a{:href => "/categoria/humectantes-y-tratamientos"} Humectantes y Tratamientos
              %li
                %a{:href => "/categoria/cremas-de-ojos"} Cremas de Ojos
              %li
                %a{:href => "/categoria/cuerpo-y-ducha"} Cuerpo y Ducha
          %li
            %a{:href => "/obsequios"}
              Obsequios
          %li
            %a{:href => "/soluciones"}
              Soluciones
          %li
            %a{:href => "/tu-lista"}
              Tu Lista
          %li
            %a{:href => "/posts"}
              Blog
          %li.tiendas
            %a{:href => "/tiendas"}
              Tiendas
          .select
            - if @marcas_all and @marcas_all.any?
              .trigger
                Marcas 
                %span.icon 
              %select#marcas
                %option
                  MARCAS
                - @marcas_all.each do |marca|
                  %option{ :value => "/marca/#{marca.slug}" }
                    = marca.marca
    .blog
      =image_tag "blog/logo.jpg"
    .categorias
      - @bgcategorias.each do |post|
        %ul.nobullet.nolist
          %li
            = post.categoria
    #sec_1
      = yield
    #sec_2
      .widget
        %h2 Ultimos Tweets
        %a.twitter-timeline{"data-widget-id" => "414112878661074944", :height =>"300px", :href => "https://twitter.com/SephoraMX", :"data-chrome" => "noheader nofooter transparent", :"data-border-color" => "#FFFFFF"}
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


      .widget
        %h2 Facebook
        .fb-like-box{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "http://www.facebook.com/sephoramx", "data-show-border" => "false", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "210px", "data-height" => "80px"}

      .widget
        %h2 Instagram
        - @recientes.each do |data|
          %a{:href => data.link, :target=>"_blank"} 
            = image_tag(data.images.thumbnail.url, :width => 100, :height => 100, :class => "insta_pic")
      .widget
        %h2 Las 5 más vistas
        - @visitas.each do |v|
          %h3
            = link_to "#{v.title}",post_path(v)
          %p
            = v.extracto[0,80].html_safe+"..."
    #footer
      #sus-cata
        .table.full
          .tcell.t37.suscripcion
            %span#mail
            %p
              ENTÉRATE DE EVENTOS Y PROMOCIONES EXCLUSIVAS
              = form_for Suscripcion.new, :url => "/suscripcion#suscripcion" do |f|
                .table
                  .tcell.t95
                    = f.email_field :email, :placeholder => "E-Mail", :class => "texto"
                  .tcell.t5
                    = image_submit_tag("flecha_internacional.png")
          .tcell.t33
            %p.pad2
              NUESTRAS TIENDAS Y EVENTOS
            .footer-boton
              %a{:href => '/tiendas'} Descúbrelos
          .tcell.t30
            %p.pad
              DESCARGA<br />EL CATÁLOGO ONLINE
            .footer-boton
              %a{:href => 'http://www.pollock.mx/Flipbook/index.html', :target => '_blank'} Descarga aquí
      #sephora-en
        %p
          SEPHORA en:
          %a#bg{:href => "http://sephoramexico.blogspot.mx/", :target => "_blank"}
          %a#gp{:href => "https://plus.google.com/109652284724347281502/posts", :target => "_blank"}
      #footin
        #links
          %ul.nobullet.nolist.seplist
            %li Contacto
            %li Mapa del sitio
            %li
              =link_to "Poĺítica de privacidad", politicas_path
            %li Empleo
        #internacional
          %a.middle{:href => 'http://www.sephora.com/international/international.jsp', :target => '_blank'} Internacional
          %span.icon
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=191335521070710";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :plain
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11107291-7']);
    _gaq.push(['_setDomainName', 'sephora.com.mx']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  = javascript_include_tag "posts"
  %script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
